1.	Rameshâ€™s basic salary is input through the keyboard. His dearness allowance is 40% of basic salary, and house rent allowance is 20% of basic salary. Write a program to calculate his gross salary.

In [8]:
ramesh_salary=int(input("enter the ramesh salary "))
da=40/100*ramesh_salary
hr=20/100*ramesh_salary
print("dearness allowance",da,'house rent',hr,sep="\n")
print("the gross salary of ramesh is ",ramesh_salary+da+hr,"rs",sep="")

enter the ramesh salary 100000
dearness allowance
40000.0
house rent
20000.0
the gross salary of ramesh is 160000.0rs

2.	The distance between two cities (in km.) is input through the keyboard. Write a program to convert and print this distance in meters, feet, inches and centimeters.

In [13]:
d=int(input("enter the distance between two cities(in km) "))
print(" the distance after converting from km to meters is ",d*1000,"meter",sep="")
print(" the distance after converting from km to feet is ",3280.8399*d,"feet",sep="")
print(" the distance after converting from km to inches is ",39370.0787*d,"inches",sep="")
print(" the distance after converting from km to centimeters is ",100000*d,"centimeter",sep="")

enter the distance between two cities(in km) 20
 the distance after converting from km to meters is 20000meter
 the distance after converting from km to feet is 65616.798feet
 the distance after converting from km to inches is 787401.574inches
 the distance after converting from km to centimeters is 2000000centimeter

In [ ]:
DISTANCE=eval(input("Enter the Distance between the cities in KM:"))
meter=DISTANCE*100
feet=DISTANCE*3280.84
inches=DISTANCE*39370.079
cm=DISTANCE*100000

print("IN meter={}\nIN feet={}\nIn inches={}\nIN CM={}".format(meter,feet,inches,cm))

3.	If the marks obtained by a student in five different subjects are input through the keyboard, find out the aggregate marks and percentage marks obtained by the student. Assume that the maximum marks that can be obtained by a student in each subject is 100

In [ ]:
a=eval(input("enter the marks obtained in hindi out of 100 is "))
b=eval(input("enter the marks obtained in english out of 100 is "))
c=eval(input("enter the marks obtained in math out of 100 is "))
d=eval(input("enter the marks obtained in physics out of 100 is "))
e=eval(input("enter the marks obtained in chemistry out of 100 is "))
f=a+b+c+d+e
print("the total marks obtained out of 500 is ",f)
print("the percentage obtained is ",round((f/500*100),2),"%",sep="")

In [ ]:
marks=eval(input("Hindi:")),eval(input("English:")),eval(input("Maths:")),eval(input("SST:")),eval(input("Science:"))

total=sum(marks)
print("The total marks obtained:",total)
percentage=(total/500)*100

print("percentage:",percentage)

4.	Temperature of a city in Fahrenheit degrees is input through the keyboard. Write a program to convert this temperature into Centigrade degrees

In [27]:
a=eval(input("enter the temperature of a city in fahrenheit: "))
b=(9/5*a)+32
print("fahrenheit in centigrade degrees is ",b)

enter the temperature of a city in fahrenheit: 36
fahrenheit in centigrade degrees is  96.8

In [ ]:
F=eval(input("Write temperature in Fahrenheit:"))
degree=(F-32)*5/9
print('Tem in Centigrade degrees is ',degree,"C.")

5.	The length & breadth of a rectangle and radius of a circle are input through the keyboard. Write a program to calculate the area & perimeter of the rectangle, and the area & circumference of the circle.

In [29]:
l=eval(input("enter the length of a rectangle: "))
b=eval(input("enter the breadth of a rectangle: "))
r=eval(input("enter the radius of a circle: "))
area=l*b
perimeter=(l+b)*2
area1=(22/7)*r**2
peri2=2*(22/7)*r
print("the area of rectangle is ",area)
print("the perimeter of rectangle is ",perimeter)
print("the area of circle is ",area1)
print("the circumference of cricle is ",peri2)

enter the length of a rectangle: 10
enter the breadth of a rectangle: 15
enter the radius of a circle: 7
the area of rectangle is  150
the perimeter of rectangle is  50
the area of circle is  154.0
the circumference of cricle is  44.0

In [ ]:
Length=eval(input("Length:"))
Breadth=eval(input("Breadth:"))

area_of_rectangle=Length*Breadth
perimeter=2*(Length+Breadth)


print("Area of Rectangle:",area_of_rectangle)
print("Perimeter of Rectangle:",perimeter)

import math
Radius=eval(input("Radius of circle:"))
Area=math.pi*2*Radius
print("Area of circle:",Area)

6.	Two numbers are input through the keyboard into two locations C and D. Write a program to interchange the contents of C and D.

In [31]:
C=eval(input("enter first number: "))
D=eval(input("enter second number: "))
C,D=D,C # will interchange the content
print(C)
print(D)

enter first number: 20
enter second number: 30
30
20

7.	If a five-digit number is input through the keyboard, write a program to reverse the number.

In [40]:
a=eval(input("enter a five-digit number: "))
rev=0
while a>0:
    rev=rev*10 + a%10
    a=a//10
    print(rev)

enter a five-digit number: 12345
5
54
543
5432
54321

8.	If a four-digit number is input through the keyboard, write a program to obtain the sum of the first and last digit of this number

In [41]:
a=int(input("enter a four digit number"))
sum1=a//1000 + a%10
print("sum ",sum1)

enter a four digit number1234
sum  5

In [46]:
a=int(input("enter a any digit number"))
last_digit=a%10
print("last digit is",last_digit)
first_digit=a
while first_digit>=10:   
    first_digit=first_digit//10
    print(first_digit)
print("sum of first digit({}) and last digit({}) is {}".format(first_digit,last_digit,first_digit+last_digit))

enter a any digit number34569
last digit is 9
3456
345
34
3
sum of first digit(3) and last digit(9) is 12

9.	In a town, the percentage of men is 52. The percentage of total literacy is 48. If total percentage of literate men is 35 of the total population, write a program to find the total number of illiterate men and women if the population of the town is 80,000.

In [54]:
population=80000
print("population is ",population)
total_men=52/100*80000
print("total mens are 52 % of popluation",total_men)
total_women=population-total_men
print("total womens are 48 % of population",total_women)
total_literacy = 48/100*80000
print("total literacy of 48% is ",total_literacy)
total_men_literacy=35/100*total_literacy
print("total number of mens are literacy is 35 %  ",total_men_literacy)
total_women_literacy=total_literacy-total_men_literacy
print("total women literacy is 65% ",total_women_literacy)
print("total number of illiterate men are ",total_men-total_men_literacy)
print("total number of illiterate women are ",total_women-total_women_literacy)

population is  80000
total mens are 52 % of popluation 41600.0
total womens are 48 % of population 38400.0
total literacy of 48% is  38400.0
total number of mens are literacy is 35 %   13440.0
total women literacy is 65%  24960.0
total number of illiterate men are  28160.0
total number of illiterate women are  13440.0

In [59]:
a=52/100*80000
b=65/100*a
print("total illiterate men are ",b)

total illiterate men are  27040.0

10.	A cashier has currency notes of denominations 10, 50 and 100. If the amount to be withdrawn is input through the keyboard in hundreds, find the total number of currency notes of each denomination the cashier will have to give to the withdrawer.

In [4]:
amount=int(input("enter the amount: "))
a=amount//100
print("100rs notes in {} is {}".format(amount,a))
b=amount//50
print("50rs notes in {} is {}".format(amount,b))
c=amount//10
print("10rs notes in {} is {}".format(amount,c))

enter the amount: 560
100rs notes in 560 is 5
50rs notes in 560 is 11
10rs notes in 560 is 56

In [17]:
amount=eval(input("enter the amount: "))
a=amount//2000
print("2000rs notes in {} is {}".format(amount,a))
g500=amount-2000*a
g=g500//500
print("500rs notes in {} is {}".format(g500,g))
h100=g500-g*500
h=h100//100
print("100rs notes in {} is {}".format(h100,h))
b50=h100-100*h
b=b50//50
print("50rs notes in {} is {}".format(b50,b))
c10=b50-50*b
c=c10//10
print("10rs notes in {} is {}".format(c10,c))
d5=c10-10*c
d=d5//5
print("5rs notes in {} is {}".format(d5,d))
e2=d5-5*d
e=e2//2
print("2rs notes in {} is {}".format(e2,e))
f1=e2-e*2
f=f1//1
print("1rs notes in {} is {}".format(f1,f))

enter the amount: 7253
2000rs notes in 7253 is 3
500rs notes in 1253 is 2
100rs notes in 253 is 2
50rs notes in 53 is 1
10rs notes in 3 is 0
5rs notes in 3 is 0
2rs notes in 3 is 1
1rs notes in 1 is 1

In [5]:
# give prefrence to bigger note

In [ ]:
amount=int(input("enter the amount: "))
counts=0
while amount<10:
    counts=amount//100
    print("100rs notes are ",counts)
    amount//50

In [7]:
divmod(550,100)

(5, 50)

In [24]:
def currency_notes(amount):
    a,b=divmod(amount,100)
    return a,b



a,b=currency_notes(amount)
c,d=divmod(b,50)

In [25]:
currency_notes(550)

(5, 50)

In [22]:
b

70

In [ ]:
# how to create a cash demonination

In [4]:
Y=[1,3,4,6,7,9,10,4+7j,'hello world',[2000,3000,1000]]
Y[9][1]

3000

In [17]:
G=['2022-09-03']
G[5:7]

[]

In [21]:
square_dictionary={1:1,2:4,3:9}
square_dictionary[4]=16
square_dictionary

{1: 1, 2: 4, 3: 9, 4: 16}

In [34]:
str="hello,please meet me at 4pm @coffeehouseccd or email me python@gmail.com"
str.count("me")
str.index("python@gmail")
str[56:68]

'python@gmail'

In [36]:
num_list_1=[1,2,3,4]
num_list_2=[0,5,2,1]
a=num_list_1+num_list_2
print(a)

[1, 2, 3, 4, 0, 5, 2, 1]

In [39]:
num_list_1=[1,2,3,4]
num_list_2=[0,5,2,1]
for i,j in zip(num_list_1,num_list_2):
    a=i*j
    print(a)

0
10
6
4

In [41]:
mix_list_1=["leaarn",24,"blue,False,-8"]
mix_list_2=[4,7,"summer"]
len(mix_list_2)

3

In [44]:
num_set={1,2,3,4,5,6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

In [48]:
mix_tuple=(["a",1,True],2,'science',-5)
a=list(mix_tuple)
a[1]=3
a

[['a', 1, True], 3, 'science', -5]

In [50]:
from math import pi
a=int(pi)
print(a)

3

In [54]:
a=eval(input("enter the side"))
b=eval(input("enter the side"))
c=eval(input("enter the side"))
if a==b==c:
    print("equilateral traingle")
elif a!=b!=c:
    print("scalene traingle")
else:
    print("isosceles traingle")

enter the side2
enter the side3
enter the side3
isosceles traingle

In [55]:
num=eval(input("enter the number"))
last_digit=num%10
if last_digit%3==0:
  print(" divisible by 3")
else:
  print("not divisible by 3")

enter the number343
 divisible by 3

In [60]:
a=int(input("enter number"))   # need modificaion
if a%2==0 or a%3==0 or a%5==0 or a%7==0:
            print("it is not a prime number")
else:
            print("it is a prime number")

enter number7
it is not a prime number

In [66]:
from math import sqrt
x=eval(input("enter the number"))
if x%2==0 and x>0:
    print("the square root is ",sqrt(x))
elif x%2!=0 and x>0:
    print("the square root is ",sqrt(x))
else :
    y=abs(x)
    print("the square root is ",sqrt(y))

enter the number-4
the square root is  2.0

In [15]:
a=eval(input("enter a number: "))
abs(a)

ImportError: cannot import name 'abs' from 'math' (unknown location)

In [68]:
num=int(input("enter "))
if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

enter -9
negative

In [71]:
a=input("enter alphabet")
c=a.lower()
b="aeiou"
if c in b:
  print("vowel")
else:
  print("consonant")

enter alphabetd
consonant

In [72]:
if a > b:
    if a < c:
        median = a
    elif b > c:
        median = b
    else:
        median = c
else:
    if a > c:
        median = a
    elif b < c:
        median = b
    else:
        median = c

print("The median is", median)

The median is d

In [73]:
def sum(x, y):
    sum = x + y
    if sum in range(15, 20):
        return 20
    else:
        return sum

print(sum(10, 6))
print(sum(10, 2))
print(sum(10, 12))

20
12
22

In [74]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:3
The number is a palindrome!

In [78]:
for i in range(100,500):
    if i%11==0 and i%2!=0:
        print("{} is divisible by 11".format(i))

121 is divisible by 11
143 is divisible by 11
165 is divisible by 11
187 is divisible by 11
209 is divisible by 11
231 is divisible by 11
253 is divisible by 11
275 is divisible by 11
297 is divisible by 11
319 is divisible by 11
341 is divisible by 11
363 is divisible by 11
385 is divisible by 11
407 is divisible by 11
429 is divisible by 11
451 is divisible by 11
473 is divisible by 11
495 is divisible by 11

In [80]:
n=int(input("enter a number"))
sum=0
while n!=0:
  sum=sum+n%10
  n=n//10
print(sum)

enter a number34
7

In [32]:
n=int(input("enter the num"))
fact=1
while n!=0:
    fact=fact*n
    n=n-1
print(fact)

enter the num5
120

Write a program to display the product of the digits of a number accepted from the user.

In [4]:
x=input("enter the number: ")
n=1
for i in x:
    n=n*int(i)
    print(n)

enter the number: 234
2
6
24

In [5]:
x=eval(input("enter the number: "))
mul=1
while x!=0:
    mul=mul*(x%10)
    x=x//10
    print(mul)

enter the number: 234
4
12
24

Calculate the average of the number given in the list through loop.
list1=[34,6,43,2,32,44,55,33,32]

In [4]:
list1=[34,6,43,2,32,44,55,33,32]
add=0
count=0
for i in list1:
    add=add+i
    count=count+1
    print("average is ",add/count)

average is  34.0
average is  20.0
average is  27.666666666666668
average is  21.25
average is  23.4
average is  26.833333333333332
average is  30.857142857142858
average is  31.125
average is  31.22222222222222

In [ ]:
def Average(lst):
    return sum(lst) / len(lst)

We can use the reduce() to reduce the loop and by using the lambda function can compute summation of list. We use len() to calculate length as discussed above.

In [ ]:
from functools import reduce
  
def Average(lst):
    return reduce(lambda a, b: a + b, lst) / len(lst)

In [ ]:
from statistics import mean
  
def Average(lst):
    return mean(lst)

find the avg of user inputed number until user press q

In [10]:
summ=0
count=0
while True:
    x=input("enter the number: ")
    if x.lower() !="q":
        summ=summ+int(x)
        count=count+1
    else:
        break
print("the average is",summ/count)

enter the number: 44
enter the number: 55
enter the number: 66
enter the number: 77
enter the number: 88
enter the number: 99
enter the number: q
the average is 71.5

 Reverse string using a for loop (take the input from user).

In [16]:
str1=input("enter")
#for i in str1:
print(str1[::-1])

enter10 20 50
 05 02 01

In [17]:
str2=input("enter")
str3=''
for i in str2:
    str3=i+str3
    print(str3)

enterhello
h
eh
leh
lleh
olleh

Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.

In [3]:
summ=0
for i in range(0,11):
    summ=summ+i
    print(summ)    # wrong series

0
1
3
6
10
15
21
28
36
45
55

In [7]:
fibonacciList = [0, 1]
# finding 10 terms of the series starting from 3rd term
N = 10
term = 3
while term < N + 1:
    value = fibonacciList[term - 2] + fibonacciList[term - 3]
    fibonacciList.append(value)
    term = term + 1
print("10 terms of the fibonacci series are:")
print(fibonacciList)

10 terms of the fibonacci series are:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [6]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
    print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
    print("Fibonacci sequence upto",nterms,":")
    print(n1)
# generate fibonacci sequence
else:
    print("Fibonacci sequence:")
    while count < nterms:
        print(n1)
        nth = n1 + n2
       # update values
        n1 = n2
        n2 = nth
        count += 1

How many terms? 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

Write a code to print table of 5 using assignment operand +=.(using while)

In [9]:
tab=5
count=1
while count<11:
    print("{}*{}={}".format(tab,count,a))
    a=tab*count
    count+=1

5*1=50
5*2=5
5*3=10
5*4=15
5*5=20
5*6=25
5*7=30
5*8=35
5*9=40
5*10=45

Write a program swap the keys to values and values to keys of the given dictionary. Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4} Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [60]:
module={"data science":1,"machine learning":2,"sql":3,"big data":4}
a=list(module.keys())
b=list(module.values())
list1=[]
for i,j in zip(a,b):
    list1.append([i,j]) # [['data science', 1], ['machine learning', 2], ['sql', 3], ['big data', 4]]
   # list1.extend([i,j])  # not work ['data science', 1, 'machine learning', 2, 'sql', 3, 'big data', 4]
    print(list1)

[['data science', 1]]
[['data science', 1], ['machine learning', 2]]
[['data science', 1], ['machine learning', 2], ['sql', 3]]
[['data science', 1], ['machine learning', 2], ['sql', 3], ['big data', 4]]

In [ ]:
https://www.geeksforgeeks.org/python-program-to-swap-keys-and-values-in-dictionary/

In [61]:
dict(list1)

{'data science': 1, 'machine learning': 2, 'sql': 3, 'big data': 4}

Write a program to count all the elements from wrong text but it should not consider space and vowels
wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair 
        sun and kill the envious moon Who is already sick and pale with grief"""

In [68]:
wrong="""But soft what light through yonder window breaks It is the east and Juliet is the sun Arise fair sun and kill the envious moon Who is already sick and pale with grief"""
vowels=('a','e','i','o','u') 
space=(' ')
count=0
for i in wrong:
    if i not in vowels :
        if i not in space:
            count=count+1
            print(i)
print(count)

B
t
s
f
t
w
h
t
l
g
h
t
t
h
r
g
h
y
n
d
r
w
n
d
w
b
r
k
s
I
t
s
t
h
s
t
n
d
J
l
t
s
t
h
s
n
A
r
s
f
r
s
n
n
d
k
l
l
t
h
n
v
s
m
n
W
h
s
l
r
d
y
s
c
k
n
d
p
l
w
t
h
g
r
f
85

Remove duplicates from the given list num2 using loop.
num2=[1,2,3,41,3,5,4,56,4,56,4,4,36,6,66,6,645,3,3,5,6,8]

In [76]:
num2=[1,2,3,41,3,5,4,56,4,56,4,4,36,6,66,6,645,3,3,5,6,8]
num1=[]
for i in num2:
    if i not in num1:
        num1.append(i)
        #print(i)
print(num1)       # sort() not working

[1, 2, 3, 41, 5, 4, 56, 36, 6, 66, 645, 8]

Write a program to check whether two numbers are amicable or not (take the input from the user).

In [77]:
# Python3 program to count
# amicable pairs in an array
 
# Calculate the sum
# of proper divisors
def sumOfDiv(x):
    sum = 1
    for i in range(2, x):
        if x % i == 0:
            sum += i
    return sum
 
# Check if pair is amicable
def isAmicable(a, b):
    if sumOfDiv(a) == b and sumOfDiv(b) == a:
        return True
    else:
        return False
 
# This function prints pair
# of amicable pairs present
# in the input array
def countPairs(arr, n):
    count = 0
    for i in range(0, n):
        for j in range(i + 1, n):
            if isAmicable(arr[i], arr[j]):
                count = count + 1
    return count
 
# Driver Code
arr1 = [220, 284, 1184,
        1210, 2, 5]
n1 = len(arr1)
print(countPairs(arr1, n1))
 
arr2 = [2620, 2924, 5020,
        5564, 6232, 6368]
n2 = len(arr2)
print(countPairs(arr2, n2))

2
3

In [ ]:
x=int(input())
y=int(input())
sum_x=0
sum_y=0
for each in range(1,x):
    if(x%each==0):
        sum_x=sum_x+each
for i in range(1,y):
    if(y%i==0):
        sum_y=sum_y+i
if(sum_x==y and sum_y==x):
    print("They are Amicable numbers")
else:
    print("No they are not Amicable")

Write a program to check whether a number is prime or not (take the input from user

In [29]:
def NumberReverse(str):
    a=str.split(" ")
    b=a[::-1]
    print(" ".join(b))

In [30]:
NumberReverse("10 20 50")

50 20 10