In [ ]:
list1=[9,8,6,4,3,2]

- in list, we can store multiple value in same variable
- list is defined in square bracket[]
- in list, we can store integer,float, complex, string, boolean type of value
- we can have list inside list also
- use quotes on string in the list
- elements are seperated by comma
- list can be heterogneous(can have different data types)
- list can have duplicates
- concatination is possible
- list is mutable
- in list, multiplication b/w not possible
- list indexing possible
- list slicing possible
- max and min possible for only integar list and only for string list
- max min not possible for a list having both int and strings
- empty list is []
- if there is an error in slicing then it show []

In [1]:
string1="python"
type(string1)   # string in quotes

str

In [2]:
list1=[1,2,3,4]    # represents in square brcket
list1

[1, 2, 3, 4]

In [3]:
type(list1)

list

In [4]:
list1=[1,1,1,2,3,3,3,4,4]
list1    # list can have duplicates

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [1]:
list2=["apple","bananna","cherry",120,130,40.6,8.9]
# list have string and int and float

In [7]:
list2

['apple', 'bananna', 'cherry', 120, 130, 40.6, 8.9]

In [9]:
list3=[1,4,2,7,"three"]

In [77]:
list3

['Ball', 'Apple', 'Cat', 'Doll']

In [83]:
a=[2,3,4,5,[4,5,6]]  # list inside list

In [84]:
a[0]

2

In [85]:
a[4]

[4, 5, 6]

In [86]:
a[4][0]  # checking index list in list

4

In [87]:
a[4][1]

5

In [88]:
a[4][2]

6

## index

In [10]:
list3[0]

1

In [11]:
list3[3]

7

In [13]:
list3[4]

'three'

In [2]:
list2

['apple', 'bananna', 'cherry', 120, 130, 40.6, 8.9]

In [6]:
list2[0]

'apple'

In [16]:
list2[4]

130

In [17]:
list2.index(120)

3

In [18]:
list3.index("three")

4

In [19]:
list3.index("hello")

ValueError: 'hello' is not in list

In [7]:
letters=["p","q","r","s","p","u"]

In [43]:
letters.index("q")

1

In [44]:
letters.index("p") # there are two 'p' in the list 
# but it show 0 why not 4
# how can we print the index of that p

0

In [45]:
letters.index("p",1)

4

In [46]:
a="hello"
a.index("l")

2

In [50]:
a.index("l",3)

3

## len

In [51]:
len(list3) # how many elements are there in a list

5

In [27]:
dir(list1)    # we also written this dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

'append', 'clear', 'copy', 'count', 'extend', 'index','insert', 'pop','remove','reverse','sort']

only these operation we can apply on list

In [24]:
list1.find("2")   # there is no find operation in list

AttributeError: 'list' object has no attribute 'find'

## slicing

In [10]:
list3

[1, 4, 2, 7, 'three']

In [30]:
list3[0:4]

[1, 4, 2, 7]

In [31]:
list3[4:5]

['three']

In [32]:
list3[4:]

['three']

In [33]:
list3[0:]

[1, 4, 2, 7, 'three']

In [35]:
list3[:]

[1, 4, 2, 7, 'three']

In [36]:
list3[::-1]

['three', 7, 2, 4, 1]

In [37]:
list3[::-2]

['three', 2, 1]

In [38]:
list3[1:5:2]

[4, 7]

slcing in list is same as string opertation

[:] .........> gives complete value

[0:4].........> start from 0 and stop=end-1=4-1=3

[a:b]..........> start from a and stop=b-1 (upper-1)

[a:b:c].......> here a is start , b is end and c is step

[1:]............> start from 1 and stop at last value

[:1].............> start from 0 and stop at 1-1=0

[:5].............> start from zero and stop at 5-1=4

In [ ]:
[::a]
 here first : describe start
 second colon describe stop at last value
 here a is step 
# a=-1  step in negattive 
# a=-3 step in negative
# a=1 step in positive 
# a=3 step in positive

In [40]:
list3

[1, 4, 2, 7, 'three']

In [39]:
list3[1::4]  # here start value is 1 and stop at last and increment 4 
# that;s why it print only 4

[4]

In [41]:
sqs=[0,1,4,9,16,25,36,49,64,81]
sqs[1::4]

[1, 25, 81]

In [13]:
list1

NameError: name 'list1' is not defined

In [53]:
list2

['apple', 'bananna', 'cherry', 120, 130, 40.6, 8.9]

In [54]:
list4=list1+list2

In [55]:
list4 # first list1 will print then list2

[1, 1, 1, 2, 3, 3, 3, 4, 4, 'apple', 'bananna', 'cherry', 120, 130, 40.6, 8.9]

In [56]:
list1*3 # list1+list1+list1

[1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4]

In [57]:
list4=list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [58]:
list3

[1, 4, 2, 7, 'three']

In [59]:
list3-list1 # we can't do substration

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [60]:
list3/list1 # we can't do division

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [18]:
lst1=[1,2,3]
lst2=[4,5,6]
lst1*lst2

TypeError: can't multiply sequence by non-int of type 'list'

In [61]:
list2=['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [62]:
list3=['Ball','Apple','Cat','Doll']
list3

['Ball', 'Apple', 'Cat', 'Doll']

In [63]:
list4=list2+list3
list4

['Dairy',
 'Banana',
 'Cherry',
 120,
 130,
 40.6,
 8.9,
 'Ball',
 'Apple',
 'Cat',
 'Doll']

In [ ]:
list4[2:10]  --------->
list4[2:11:2]
list4[2:11:-2]
list4[2:-11:-2]
list4[-2:-11:-2]
list4[-2:11:2]
list4[-2:11:-2]
list4[-2:-11:2]
list4[11:2:2]
list4[11:2:-2]
list4[11:-2:-2]
list4[-11:-2:-2]
list4[-11:-2:2]

## max-min

In [64]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [65]:
max(list1)

4

In [66]:
min(list1)

1

In [67]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [69]:
max(list2)  # we can't compare int and float with strings

TypeError: '>' not supported between instances of 'int' and 'str'

In [70]:
list5=["apple","bananna","cherry"]
list5

['apple', 'bananna', 'cherry']

In [71]:
max(list5)

'cherry'

In [72]:
min(list5)

'apple'

In [ ]:
# ASCII values
# A .........> 65
# B...........> 66
# C ..........>67
# a ..........>97
# h ..........> 104

# ord-chr

In [73]:
ord("a") # ord will give ascii value of character/symbol

97

In [74]:
ord("A")

65

In [75]:
chr(104)  # chr will give characters/symbol when we provide ascii value

'h'

In [76]:
chr(69)

'E'

In [89]:
for i in range(0,200):
    print(chr(i),".........",i)

  ......... 0
 ......... 1
 ......... 2
 ......... 3
 ......... 4
 ......... 5
 ......... 6
 ......... 7
 ......... 8
	 ......... 9

 ......... 10
 ......... 11
 ......... 12
 ......... 13
 ......... 14
 ......... 15
 ......... 16
 ......... 17
 ......... 18
 ......... 19
 ......... 20
 ......... 21
 ......... 22
 ......... 23
 ......... 24
 ......... 25
 ......... 26
 ......... 27
 ......... 28
 ......... 29
 ......... 30
 ......... 31
  ......... 32
! ......... 33
" ......... 34
# ......... 35
$ ......... 36
% ......... 37
& ......... 38
' ......... 39
( ......... 40
) ......... 41
* ......... 42
+ ......... 43
, ......... 44
- ......... 45
. ......... 46
/ ......... 47
0 ......... 48
1 ......... 49
2 ......... 50
3 ......... 51
4 ......... 52
5 ......... 53
6 ......... 54
7 ......... 55
8 ......... 56
9 ......... 57
: ......... 58
; ......... 59
< ......... 60
= ......... 61
> ......... 62
? ......... 63
@ ......... 64
A ......... 65
B ......... 66
C ......... 67
D ......... 68
E ......... 69
F ......... 70
G ......... 71
H ......... 72
I ......... 73
J ......... 74
K ......... 75
L ......... 76
M ......... 77
N ......... 78
O ......... 79
P ......... 80
Q ......... 81
R ......... 82
S ......... 83
T ......... 84
U ......... 85
V ......... 86
W ......... 87
X ......... 88
Y ......... 89
Z ......... 90
[ ......... 91
\ ......... 92
] ......... 93
^ ......... 94
_ ......... 95
` ......... 96
a ......... 97
b ......... 98
c ......... 99
d ......... 100
e ......... 101
f ......... 102
g ......... 103
h ......... 104
i ......... 105
j ......... 106
k ......... 107
l ......... 108
m ......... 109
n ......... 110
o ......... 111
p ......... 112
q ......... 113
r ......... 114
s ......... 115
t ......... 116
u ......... 117
v ......... 118
w ......... 119
x ......... 120
y ......... 121
z ......... 122
{ ......... 123
| ......... 124
} ......... 125
~ ......... 126
 ......... 127
 ......... 128
 ......... 129
 ......... 130
 ......... 131
 ......... 132
 ......... 133
 ......... 134
 ......... 135
 ......... 136
 ......... 137
 ......... 138
 ......... 139
 ......... 140
 ......... 141
 ......... 142
 ......... 143
 ......... 144
 ......... 145
 ......... 146
 ......... 147
 ......... 148
 ......... 149
 ......... 150
 ......... 151
 ......... 152
 ......... 153
 ......... 154
 ......... 155
 ......... 156
 ......... 157
 ......... 158
 ......... 159
  ......... 160
¡ ......... 161
¢ ......... 162
£ ......... 163
¤ ......... 164
¥ ......... 165
¦ ......... 166
§ ......... 167
¨ ......... 168
© ......... 169
ª ......... 170
« ......... 171
¬ ......... 172
­ ......... 173
® ......... 174
¯ ......... 175
° ......... 176
± ......... 177
² ......... 178
³ ......... 179
´ ......... 180
µ ......... 181
¶ ......... 182
· ......... 183
¸ ......... 184
¹ ......... 185
º ......... 186
» ......... 187
¼ ......... 188
½ ......... 189
¾ ......... 190
¿ ......... 191
À ......... 192
Á ......... 193
Â ......... 194
Ã ......... 195
Ä ......... 196
Å ......... 197
Æ ......... 198
Ç ......... 199

## mutable-immutable

In [ ]:
string1="python" # we can't change the value by using index
string1[2]="T"  # strings are immutable

In [90]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [91]:
list2[0]="happy"
list2

['happy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [92]:
list2[3]="jojo"
list2

['happy', 'Banana', 'Cherry', 'jojo', 130, 40.6, 8.9]

In [93]:
# lists are mutable
# we can change the list values by using index

In [94]:
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])

happy
Banana
Cherry
jojo

In [95]:
num=len(list2)
# 0 to 7 by using while loop

In [96]:
num

7

In [97]:
for i in range(num):
    print("{} is index of {}".format(i,list2[i]))

0 is index of happy
1 is index of Banana
2 is index of Cherry
3 is index of jojo
4 is index of 130
5 is index of 40.6
6 is index of 8.9

In [98]:
i=0
while i<num:
    print("{} index is {}".format(i,list2[i]))
    i=i+1

0 index is happy
1 index is Banana
2 index is Cherry
3 index is jojo
4 index is 130
5 index is 40.6
6 index is 8.9

In [99]:
i=0
while i<num:   # 0<7
    print(i)
    i+=1
    
# iter1----> 0<7 ----> true ---> 0  ---> nv=0+1=1
# iter2----> 1<7 -----> true---->1 ----> nv=1+1=2

0
1
2
3
4
5
6

## concatination

In [100]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [101]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [102]:
list2

['happy', 'Banana', 'Cherry', 'jojo', 130, 40.6, 8.9]

In [103]:
list4=list1+list2

In [104]:
list4

[1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 'happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9]

## append

In [105]:
list2

['happy', 'Banana', 'Cherry', 'jojo', 130, 40.6, 8.9]

In [ ]:
# you want to add a new element 
# chennai
# it will append at last index of list

In [107]:
list2.append(2)

In [108]:
list2

['happy', 'Banana', 'Cherry', 'jojo', 130, 40.6, 8.9, 2]

In [109]:
list2.append("    ")  # space in a list as a string

In [110]:
list2

['happy', 'Banana', 'Cherry', 'jojo', 130, 40.6, 8.9, 2, '    ']

In [113]:
list2.append("<><><><><><><><><><><><>")
list2

['happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9,
 2,
 '    ',
 '<><><><><><><><><><><><>']

In [119]:
list2.append("dell",) # why dell printed two times
list2

['happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9,
 2,
 '    ',
 '<><><><><><><><><><><><>',
 'dell',
 'dell']

In [19]:
a=[1,2,3,]
a.append("happu")
a

[1, 2, 3, 'happu']

In [21]:
a.append("detol") # why detol printed many times

In [129]:
a

[1, 2, 3, 'happu', 'detol', 'detol', 'detol', 'detol', 'detol']

In [ ]:
# after run again again 
# value printed again

In [130]:
b=[1]
b.append("2") # but here it printed one time
b

[1, '2']

In [132]:
b.append("3")
b

[1, '2', '3', '3']

In [134]:
b.append("4")
b

[1, '2', '3', '3', '4', '4']

In [135]:
a=[] # i want to save the values in a list
for i in range(1,10):
    print(a.append(i))

None
None
None
None
None
None
None
None
None

In [140]:
b=[]  # empty list
for i in range(1,10):
    b.append(i)

In [141]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [142]:
list2

['happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9,
 2,
 '    ',
 '<><><><><><><><><><><><>',
 'dell',
 'dell']

In [143]:
list2.append("movie")
list2.append("sports")

In [144]:
list2

['happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9,
 2,
 '    ',
 '<><><><><><><><><><><><>',
 'dell',
 'dell',
 'movie',
 'sports']

In [145]:
# get the square of each number from 1 to 5
# start the output in a list name called square

In [151]:
square=[]
for i in range(1,6):
    square.append(i*i)

In [152]:
square

[1, 4, 9, 16, 25]

## insert

In [154]:
# 0,1,2,3 # add 5 here 
a=[1,2,3,3,3,4,4,4,]
a.insert(3,5) # means add 5 on a third index
a

[1, 2, 3, 5, 3, 3, 4, 4, 4]

In [168]:
h=["ola", "tale"]
h.index("tale")

1

In [170]:
h.insert(1,"vu")  # why vu printed two times # bccoz first defining # then run # at every run vu added at 1 index
h

['ola', 'vu', 'vu', 'tale']

## remove

In [171]:
a

[1, 2, 3, 5, 3, 3, 4, 4, 4]

In [172]:
a.remove(2)

In [173]:
a

[1, 3, 5, 3, 3, 4, 4, 4]

In [174]:
h

['ola', 'vu', 'vu', 'tale']

In [175]:
h.remove("vu")
h

['ola', 'vu', 'tale']

In [176]:
h

['ola', 'vu', 'tale']

In [ ]:
# run again h.remove find what it will show ??

In [177]:
a

[1, 3, 5, 3, 3, 4, 4, 4]

In [180]:
a.remove(3) # i run this two times and two 3's are removed

In [181]:
a

[1, 5, 3, 4, 4, 4]

## extend

In [182]:
a

[1, 5, 3, 4, 4, 4]

In [183]:
a.extend(6,8,9) # in extend give value in [ # inside this]

TypeError: list.extend() takes exactly one argument (3 given)

In [184]:
a.extend([6,7,8])

In [185]:
a

[1, 5, 3, 4, 4, 4, 6, 7, 8]

In [ ]:
# append will add only value at last
# extend will add multiple value at last

In [186]:
a.append([3,4])
a # append treated one value inside append( )
# but extend treated them seprated value

[1, 5, 3, 4, 4, 4, 6, 7, 8, [3, 4]]

## reverse

In [187]:
a

[1, 5, 3, 4, 4, 4, 6, 7, 8, [3, 4]]

In [190]:
a.reverse()
a # again run it will back to original

[[3, 4], 8, 7, 6, 4, 4, 4, 3, 5, 1]

## sort

In [191]:
a

[[3, 4], 8, 7, 6, 4, 4, 4, 3, 5, 1]

In [192]:
a.sort()
a # this is not run bcoz inside it a list is there and list and int are not supported <

TypeError: '<' not supported between instances of 'int' and 'list'

In [194]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [195]:
list1.sort()

In [196]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [197]:
list3

['Ball', 'Apple', 'Cat', 'Doll']

In [198]:
list3.sort()
list3

['Apple', 'Ball', 'Cat', 'Doll']

In [200]:
list4

[1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 'happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9]

In [201]:
list4.sort()
list4

TypeError: '<' not supported between instances of 'str' and 'int'

In [202]:
a

[[3, 4], 8, 7, 6, 4, 4, 4, 3, 5, 1]

In [203]:
a.reverse()
a

[1, 5, 3, 4, 4, 4, 6, 7, 8, [3, 4]]

In [204]:
a.sort(extend[1,7,5])
a

NameError: name 'extend' is not defined

In [205]:
a

[1, 5, 3, 4, 4, 4, 6, 7, 8, [3, 4]]

In [206]:
a.tuple() # didn't work

AttributeError: 'list' object has no attribute 'tuple'

In [207]:
tuple(a)

(1, 5, 3, 4, 4, 4, 6, 7, 8, [3, 4])

In [209]:
a

[1, 5, 3, 4, 4, 4, 6, 7, 8, [3, 4]]

In [210]:
set(a) # bcoz list inside list

TypeError: unhashable type: 'list'

In [211]:
list2

['happy',
 'Banana',
 'Cherry',
 'jojo',
 130,
 40.6,
 8.9,
 2,
 '    ',
 '<><><><><><><><><><><><>',
 'dell',
 'dell',
 'movie',
 'sports']

In [212]:
set(list2)

{'    ',
 130,
 2,
 40.6,
 8.9,
 '<><><><><><><><><><><><>',
 'Banana',
 'Cherry',
 'dell',
 'happy',
 'jojo',
 'movie',
 'sports'}