In [2]:
even_numbers=[2,4,6,8,10]
even_numbers

[2, 4, 6, 8, 10]

In [4]:
even_numbers.clear()    # it will clear entire list
even_numbers

[]

In [ ]:
# python ..........> 20 days buffer time
# SQL
# ML/statistics...........> try to perfect in python
# deploy the model
# .ipynb.......> .py >>>>>>>> class oops(advance concepts)
# 7 to 8 months .........> python will be there
# ML........>DL>>>>>>> NLP(AI)
# Mlops(GCP/AZURE/AWS)

In [ ]:
# =========== Tools =========
# python
# SQL
# tablue/power bi

In [ ]:
# ========= concepts========
# statistics
# ML
# DL
# NLP

## copy

In [1]:
even_numbers=[2,4,6,8,10] # it copy the list
numbers=even_numbers.copy()
numbers

[2, 4, 6, 8, 10]

In [2]:
even_numbers.clear()   # now even_numbers list first copy and clear now
even_numbers

[]

In [3]:
numbers

[2, 4, 6, 8, 10]

## index

In [8]:
books=["science","maths","english","hindi"]
books.index("maths")

1

## extend

In [10]:
A=["apple",'ball','cat','dog']
B=[1,2,3,4]

In [12]:
A+B

['apple', 'ball', 'cat', 'dog', 1, 2, 3, 4]

In [13]:
B+A

[1, 2, 3, 4, 'apple', 'ball', 'cat', 'dog']

In [14]:
A

['apple', 'ball', 'cat', 'dog']

In [15]:
B

[1, 2, 3, 4]

In [16]:
A.extend(B)  # extending A with B elements
# kind of A+B and storing entrie list in A

In [17]:
A

['apple', 'ball', 'cat', 'dog', 1, 2, 3, 4]

In [18]:
B.extend(A) # kind of B+A
B # but it will take A as A+B

[1, 2, 3, 4, 'apple', 'ball', 'cat', 'dog', 1, 2, 3, 4]

In [19]:
A=["apple",'ball','cat','dog']
B=[1,2,3,4]
B.extend(A)
# B+A ..........> but stored in B

In [20]:
B

[1, 2, 3, 4, 'apple', 'ball', 'cat', 'dog']

## insert

In [21]:
vowels=["a","e","i","u"]
# o is missed
# if i want to append "o" in my vowels list
vowels.append("o")
vowels

['a', 'e', 'i', 'u', 'o']

In [ ]:
# but here o is append at last
# but we want to append o after i or at a specific place

In [23]:
vowels=["a","e","i","u"]
vowels.insert(3,"o")  # shift +tab inside the () # vowels.insert(index, object, /
vowels

['a', 'e', 'i', 'o', 'u']

In [24]:
vowels.insert(1,"A")
vowels

['a', 'A', 'e', 'i', 'o', 'u']

In [26]:
vowels=["a","e","i","u"]
vowels
# you need to get index 3 by index method
num=vowels.index("i")  # 3 by using index method
print(num)
vowels.insert(num+1,"o")

2

In [27]:
vowels

['a', 'e', 'i', 'o', 'u']

## count

In [28]:
numbers=[1,1,1,2,3,4,5,6]
numbers.count(1)

3

In [4]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
from random import randint
# create a list of 50 random numbers between 1,100

In [30]:
random_list=[]
for i in range(50):
    print(randint(1,100),end=" ")

18 56 72 91 88 82 46 83 55 12 63 9 78 96 23 22 22 4 43 5 2 57 51 65 42 69 20 14 77 86 60 66 8 74 10 12 80 28 86 53 40 41 59 50 56 49 27 59 77 29

In [31]:
for i in range(50):
    random_list.append(randint(1,100))

In [32]:
random_list

[89,
 56,
 66,
 64,
 54,
 6,
 39,
 44,
 22,
 31,
 93,
 71,
 37,
 8,
 62,
 37,
 87,
 35,
 76,
 25,
 77,
 27,
 40,
 75,
 90,
 77,
 13,
 99,
 36,
 15,
 23,
 12,
 42,
 9,
 19,
 71,
 60,
 88,
 95,
 92,
 20,
 35,
 30,
 1,
 9,
 32,
 30,
 44,
 2,
 66]

In [33]:
# list comprehension
random_list=[randint(1,100) for i in range(50)]
random_list

[1,
 7,
 52,
 72,
 8,
 42,
 34,
 49,
 15,
 85,
 84,
 12,
 16,
 68,
 39,
 89,
 72,
 97,
 45,
 52,
 22,
 58,
 64,
 85,
 17,
 32,
 73,
 87,
 54,
 29,
 56,
 22,
 65,
 18,
 8,
 54,
 61,
 33,
 65,
 10,
 60,
 100,
 99,
 66,
 13,
 69,
 3,
 19,
 45,
 45]

In [34]:
random_list[:10]
# in entire random list we have 50 random numbers
for i in random_list[:10]: # first 10 random numbers
    print(random_list.count(i))

1
1
2
2
2
1
1
1
1
2

In [35]:
for i in random_list[:10]:
    print("{} is repeated {} times".format(i,random_list.count(i)))

1 is repeated 1 times
7 is repeated 1 times
52 is repeated 2 times
72 is repeated 2 times
8 is repeated 2 times
42 is repeated 1 times
34 is repeated 1 times
49 is repeated 1 times
15 is repeated 1 times
85 is repeated 2 times

In [36]:
for i in random_list: # all 50 numbers count
    print("{} is repeated {} times".format(i,random_list.count(i)))

1 is repeated 1 times
7 is repeated 1 times
52 is repeated 2 times
72 is repeated 2 times
8 is repeated 2 times
42 is repeated 1 times
34 is repeated 1 times
49 is repeated 1 times
15 is repeated 1 times
85 is repeated 2 times
84 is repeated 1 times
12 is repeated 1 times
16 is repeated 1 times
68 is repeated 1 times
39 is repeated 1 times
89 is repeated 1 times
72 is repeated 2 times
97 is repeated 1 times
45 is repeated 3 times
52 is repeated 2 times
22 is repeated 2 times
58 is repeated 1 times
64 is repeated 1 times
85 is repeated 2 times
17 is repeated 1 times
32 is repeated 1 times
73 is repeated 1 times
87 is repeated 1 times
54 is repeated 2 times
29 is repeated 1 times
56 is repeated 1 times
22 is repeated 2 times
65 is repeated 2 times
18 is repeated 1 times
8 is repeated 2 times
54 is repeated 2 times
61 is repeated 1 times
33 is repeated 1 times
65 is repeated 2 times
10 is repeated 1 times
60 is repeated 1 times
100 is repeated 1 times
99 is repeated 1 times
66 is repeated 1 times
13 is repeated 1 times
69 is repeated 1 times
3 is repeated 1 times
19 is repeated 1 times
45 is repeated 3 times
45 is repeated 3 times

## remove

In [40]:
# take a list of some elements
# apply remove method
list1=[1,2,3,1,2,3]
list1.remove(2) # here only first occurence 2 removed
list1   # but how can we remove specific element

[1, 3, 1, 2, 3]

In [38]:
list1.remove(2)
list1.remove(10) # error

ValueError: list.remove(x): x not in list

In [43]:
list1

[1, 3, 1, 3]

## pop

In [44]:
list1=[1,2,3,1,2,3]
# you can remove the elements using index
# in remove method only first occurence element is removing
# that problem can avoid by using pop method
# at 4th index we have 2 value
list1.pop(4) # remove 4th index element

2

In [45]:
list1

[1, 2, 3, 1, 3]

In [ ]:
# you can't remove all the repeated elements in a list by using list concepts

In [46]:
list1=[1,2,3,4]
list2=[1,2,3,4,"apple",["B",10,"D"]]  # list in list
list2[5]

['B', 10, 'D']

In [47]:
list2[5][1]

10

In [48]:
l=list2[5]
l[1] # both are same

10

## reverse

In [49]:
a=[1,2,"python"]
a.reverse()
a

['python', 2, 1]

In [50]:
a[::-1]

[1, 2, 'python']

## sort

- you can sort the elements
- by ascending/descending order

In [51]:
ele=[1,50,100,25,67,89,9]
ele.sort()  # ascending order
            # shift + tab 
            # it consider reverse=false as default value
ele

[1, 9, 25, 50, 67, 89, 100]

In [52]:
ele.sort(reverse=true)  # use True
ele

NameError: name 'true' is not defined

In [53]:
ele.sort(reverse=True)  # use True
ele # descending order

[100, 89, 67, 50, 25, 9, 1]

In [54]:
string1="hai how are you"
# here every word seperated by space
# hai....how....are....you
words=string1.split(" ") # list of words

In [55]:
words

['hai', 'how', 'are', 'you']

In [ ]:
# if you want to join back as same as string1

In [56]:
" ".join(words)

'hai how are you'

In [57]:
"".join(words)

'haihowareyou'

In [58]:
# splitting ====== join

In [59]:
# you want conducting one exam
# list of question
# list of answer
# how many are right answers

In [5]:
question=["what is the capital of india",
         "how many states in india",
         "who is the presisdent of india"]
answers=["delhi","28","murmu"]  # quotes on 29 is put bcz user will provide ans and by default it will consider as string
for i in range(len(question)): # 0 1 2 # iterate through all questions list
    guess=input(question[i])  # gussing answer for each question
    if guess==answers[i]:# we are comparing guess answer to original ans list
        print("correct")
    else:
        print("wrong")

what is the capital of indiac
wrong
how many states in indiac
wrong
who is the presisdent of indiac
wrong

In [66]:
question=["what is the capital of india",
         "how many states in india",
         "who is the presisdent of india"]
answers=["delhi","28","murmu"]  # quotes on 29 is put bcz user will provide ans and by default it will consider as string
for i in range(len(question)): # 0 1 2 # iterate through all questions list
    guess=input(question[i])  # gussing answer for each question
    if guess==answers[i]:# we are comparing guess answer to original ans list
        print("correct")
    else:
        print("wrong")

what is the capital of indiaDelhi
wrong
how many states in india28
correct
who is the presisdent of indiaMurmu
wrong

In [ ]:
# to overcome this use lower

In [70]:
question=["what is the capital of india",
         "how many states in india",
         "who is the presisdent of india"]
answers=["delhi","28","murmu"]# quotes on 29 is put bcz user will provide ans and by default it will consider as string
right_ans=0
for i in range(len(question)): # 0 1 2 # iterate through all questions list
    guess=input(question[i])  # gussing answer for each question
    if guess.lower()==answers[i].lower():# we are comparing guess answer to original ans list
        print("correct")
        right_ans=right_ans+1
    else:
        print("wrong")
print("you have {} correct answer".format(right_ans))

what is the capital of indiadelhi
correct
how many states in india45
wrong
who is the presisdent of indiamurmu
correct
you have 2 correct answer

In [72]:
question=["what is the capital of india",
         "how many states in india",
         "who is the presisdent of india"]
answers=["delhi","28","murmu"]# quotes on 29 is put bcz user will provide ans and by default it will consider as string
right_ans=0
for i in range(len(question)): # 0 1 2 # iterate through all questions list
    guess=input(question[i])  # gussing answer for each question
    if guess.lower()==answers[i].lower():# we are comparing guess answer to original ans list
        print("correct")
        right_ans=right_ans+1
    else:
        print("wrong , the correct answer is:",answers[i])
print("you have {} correct answer".format(right_ans))

what is the capital of indiadelhi
correct
how many states in india32
wrong , the correct answer is: 28
who is the presisdent of indiammmmm
wrong , the correct answer is: murmu
you have 1 correct answer

In [ ]:
# question for me
# he wants to take list of numbers
# some pos numbers
# zeros
# and some negative numbers
# objective: how much percentage of pos number in a list
#            how much percentage of zerors are there
#            how much percentage of negative numbers
# also try in function
# try-except

In [73]:
list1=[eval(input("enter a list:"))]
# 3
# 7
# pos percentage 3/7

enter a list:1,2,3,0,-1,-2,-3

In [74]:
list1 # list of tuple

[(1, 2, 3, 0, -1, -2, -3)]

In [76]:
list1=eval(input("enter a list:"))

enter a list:1,2,3,0,-1,-2,-3

In [77]:
list1 # tuple

(1, 2, 3, 0, -1, -2, -3)

In [78]:
list1=eval(input("enter a list:")) # we have to put himself bracket

enter a list:[1,2,3,0,-1,-2,-3]

In [79]:
list1  # list

[1, 2, 3, 0, -1, -2, -3]

In [ ]:
pos_list=[i if i>0 for i in list1]
neg_list1=[i if i<0 for i in list1]
zero_list=[i if i==0 for i in list1]