## list comprehension

In [6]:
x=[1,2,3,4,5]
out=[]
for item in x:
    out.append(item*2)  # append x list elements in out list with a multiple 2

In [3]:
out

[2, 4, 6, 8, 10]

In [ ]:
## how can i write this in single line means list comprehension

In [ ]:
out=[#output here then for loop]
    # no comma, colon used in list comprehension

In [9]:
x=[1,2,3,4,5]
out=[item*2 for item in x]  # in operator directly apply operation with every single data type

In [10]:
out

[2, 4, 6, 8, 10]

In [11]:
# for loop

In [12]:
[i for i in "india"] # storing values in i

['i', 'n', 'd', 'i', 'a']

In [13]:
[2*i for i in "india"]  # 2*i=i+i

['ii', 'nn', 'dd', 'ii', 'aa']

In [15]:
[i+i for i in "india"]

['ii', 'nn', 'dd', 'ii', 'aa']

In [18]:
[i*2 for i in {3,1,2} ]  # i in set

[2, 4, 6]

In [19]:
# automatically gives ans in ascending order

In [20]:
# if condition in list comprehension

In [2]:
[i**2 for i in range(10) if i%2==0] # what is order prefence here either * or %

[0, 4, 16, 36, 64]

In [3]:
# PEMDAS similair to bodmas
# parentheses, exponential, multiplication, division, addition, substraction
# high >>>>>>> *, /, // and %
# low >>>>>>> + and -

In [5]:
[i**3 for i in range(10) if i%2==0]

[0, 8, 64, 216, 512]

In [ ]:
# if ki output starting mi likhne or else ki uski baad then for loop

In [24]:
[i for i in range(8) if i%2!=0]

[1, 3, 5, 7]

In [26]:
[2*i for i in range(8) if i%2!=0]

[2, 6, 10, 14]

In [12]:
[i for i in range(8) if i%2==0 if i%3==0] # two if conditions

[0, 6]

In [11]:
[i for i in range(8) if i%2==0 and i%3==0]

[0, 6]

In [28]:
[2+i for i in range(8) if i%2==0 if i%3==0]

[2, 8]

In [15]:
["even" if i%2==0 else "odd" for i in range(8)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [30]:
[i**3 for i in range(5)] # cube of every value

[0, 1, 8, 27, 64]

## Table example with list comprehension

In [31]:
for i in range(7,9):  # table of 7 and 8
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

In [32]:
for i in range(6): # print tables upto 5
    for j in range(1,11):
        print("{}*{}={}".format(i,j,i*j))

0*1=0
0*2=0
0*3=0
0*4=0
0*5=0
0*6=0
0*7=0
0*8=0
0*9=0
0*10=0
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [33]:
for i in range(1,11): # table of 6
    print("6*{}={}".format(i,6*i))

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [17]:
[[i*j for j in range(1,11)] for i in range(7,8)]

[[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]]

In [ ]:
# there are two for loop 
# we can use but it is not compulsory that's why we use two square bracket
# starting for loop is written at last 
# output is writen at first

In [ ]:
# write above code 
# in a manner 6*1=6 like that

In [35]:
[["6*{}={}".format(i,6*i) for j in range(1,11)] for i in range(7,8)]

[['6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42',
  '6*7=42']]

In [36]:
# i want to remove one square bracket

In [37]:
["6*{}={}".format(i,6*i) for j in range(1,11) for i in range(7,8)]

['6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42',
 '6*7=42']

In [38]:
[6*i for i in range(1,11)]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [39]:
["6*{}={}".format(i,6*i) for i in range(1,11)]

['6*1=6',
 '6*2=12',
 '6*3=18',
 '6*4=24',
 '6*5=30',
 '6*6=36',
 '6*7=42',
 '6*8=48',
 '6*9=54',
 '6*10=60']

## frozenset() function

In [42]:
nu={1,2,3,4,5,6,7,8,9}
# converting set in forzenset # we can convert tuple,set,list and dictionary into frozenset
fnum=frozenset(nu)
# printing details 
print("frozenset object is :",fnum)

frozenset object is : frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [43]:
fnum

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [44]:
# frozenset har bar likha aaye when we convert set,tuple,list,dictionary in frozenset

In [45]:
# in frozenset we cannot add the value or change the value
# forzen means freezed

In [48]:
nu.add(10)

In [49]:
nu # 10 is added

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [50]:
nu.add(5)
nu # 5 aldready in set so it will print twice

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [51]:
fnum.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

## Assert

In [ ]:
an assertion is a sanity-check that you can turn on or turnoff 
when you have finished testing the program

- an expression is tested,and if the result comes up false,an exception is raised
- assertion are carried out through use of the assert statements

In [53]:
assert 2+2==4 # this condition is true
print("abc")

abc

In [54]:
assert 1+1==3 # assertion error
print("abc") # condition is false

AssertionError:

In [55]:
assert "h"=="w" # condition is false 
print("abc") # assertion error

AssertionError:

In [56]:
assert "h"=="h"
print("abc")

abc