In [1]:
string='python'
type(string)

# strings in quotes

str

In [2]:
list1=[1,2,3,4]  # represents in square brackets
list1

[1, 2, 3, 4]

In [3]:
type(list1)

list

In [4]:
list1=[1,1,1,2,3,3,3,4,4]
list1   # list can have duplicates

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [5]:
list2=['Apple','Banana','Cherry',120,130,40.6,8.9]
# strings, integers,floats, complex, bool
list2

['Apple', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

- Elements are enclosed in [] paranthesis

- Elements are seperated by comma

- list can have duplicates

- list can have heterogeneous(can have different data types)

$index$

In [6]:
string='python'
string[0]
# in python index starts with zero
# this applicable for all data types

'p'

In [7]:
list2

['Apple', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [8]:
list2[0]

'Apple'

In [9]:
list2[4]

130

$len$

In [10]:
string='python'
len(string)      # 6 letters are there

6

In [11]:
list2

['Apple', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [12]:
len(list2)  # how many elements are there in a list

7

In [13]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [14]:
len(list1)

9

In [15]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
list1.len()

AttributeError: 'list' object has no attribute 'len'

$max$-$min$

In [17]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [18]:
max(list1)

4

In [19]:
min(list1)

1

In [20]:
list2

['Apple', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [21]:
# we can't compare strings with integers
max(list2)

TypeError: '>' not supported between instances of 'int' and 'str'

In [26]:
list3=['Apple','Banana','Cherry','apple','banana']  #[65,66,67]
print("Max value:",max(list3))
print("min value:",min(list3))

Max value: banana
min value: Apple

In [ ]:
# ASCII values
# A-------------> 65
# B-------------> 66
# C-------------->67
# a==============>97
# h--------------->104

$ord$-$chr$

In [27]:
ord('A')  # ord will give ascii value of charcters/symbols

65

In [28]:
chr(65)  
# chr will give charcters/symbols when we provide ascii value

'A'

In [31]:
for i in range(65,100):
      print(chr(i),"——",i)

A —— 65
B —— 66
C —— 67
D —— 68
E —— 69
F —— 70
G —— 71
H —— 72
I —— 73
J —— 74
K —— 75
L —— 76
M —— 77
N —— 78
O —— 79
P —— 80
Q —— 81
R —— 82
S —— 83
T —— 84
U —— 85
V —— 86
W —— 87
X —— 88
Y —— 89
Z —— 90
[ —— 91
\ —— 92
] —— 93
^ —— 94
_ —— 95
` —— 96
a —— 97
b —— 98
c —— 99

In [30]:
for i in range(65,100):
    print(chr(i),'---------->',i)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z
[
\
]
^
_
`
a
b
c

$mutable$-$immutable$

In [33]:
string='python'
string[2]='T'
# we cant change the value by using index
# strings are immutable

TypeError: 'str' object does not support item assignment

In [34]:
list2

['Apple', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [36]:
list2[0]='Dairy'

In [37]:
list2
# lists are mutable
# we can change the list values by using index

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [39]:
print(list2[0])
print(list2[1])
print(list2[2])
print(list2[3])

Dairy
Banana
Cherry
120

In [44]:
num=len(list2)
# 0 to 7 by using while loop

In [51]:
for i in range(num):
    print("{} is index of {}".format(i,list2[i]))

0 is index of Dairy
1 is index of Banana
2 is index of Cherry
3 is index of 120
4 is index of 130
5 is index of 40.6
6 is index of 8.9

In [53]:
i=0
while i<num:
    print("{} index is {}".format(i,list2[i]))
    i=i+1

0 index is Dairy
1 index is Banana
2 index is Cherry
3 index is 120
4 index is 130
5 index is 40.6
6 index is 8.9

In [54]:
for i in range(num):
    print(i,end=' ')

0 1 2 3 4 5 6

In [ ]:
i=0
while i<num:   # 0<7
    print(i)
    i+=1
    
# iter1----> 0<7 ----> true ---> 0  ---> nv=0+1=1
# iter2----> 1<7 -----> true---->1 ----> nv=1+1=2

$concatination$

In [55]:
str1='hai'
str2='how'
str1+str2

'haihow'

In [56]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [57]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [58]:
list1+list2

[1, 1, 1, 2, 3, 3, 3, 4, 4, 'Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [60]:
list1*3  # list1+list1+list1

[1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 1,
 1,
 2,
 3,
 3,
 3,
 4,
 4]

In [65]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [71]:
'Dairy' in list2  # True
'Banana' in list2 # True
'Cherry' in list2 #True

True

In [72]:
for i in list2:
    print(i)

Dairy
Banana
Cherry
120
130
40.6
8.9

$slicing$

In [73]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [74]:
list3=['Ball','Apple','Cat','Doll']

In [75]:
list4=list2+list3
list4

['Dairy',
 'Banana',
 'Cherry',
 120,
 130,
 40.6,
 8.9,
 'Ball',
 'Apple',
 'Cat',
 'Doll']

In [ ]:
list4[2:10]  --------->
list4[2:11:2]
list4[2:11:-2]
list4[2:-11:-2]
list4[-2:-11:-2]
list4[-2:11:2]
list4[-2:11:-2]
list4[-2:-11:2]
list4[11:2:2]
list4[11:2:-2]
list4[11:-2:-2]
list4[-11:-2:-2]
list4[-11:-2:2]

In [76]:
list4[2:10]  # c 120 145 54.5

['Cherry', 120, 130, 40.6, 8.9, 'Ball', 'Apple', 'Cat']

In [77]:
list4[2:11:2]

['Cherry', 130, 8.9, 'Apple', 'Doll']

In [81]:
list4[-2:-11:2] # start=-2 stop=-11+1=-10

[]

In [83]:
list4[11:2:-2]

['Doll', 'Apple', 8.9, 130]

In [84]:
list4[-11:-2:-2]

[]

- Elements are enclosed in [] paranthesis

- Elements are seperated by comma

- list can have duplicates

- list can have heterogeneous(can have different data types)

- list multiplication not possible

- list concatination is possible

- list is mutable

- max min possible for only integer list and only for string list

- max min not possible for a list having both int and strings

- list slicing indexing possible

- list in list possible

In [87]:
list1

[1, 1, 1, 2, 3, 3, 3, 4, 4]

In [89]:
dir([])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$append$

In [90]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9]

In [91]:
# you want add a new element
# Chennai
list2.append('chennai')
# it will apeend at last index of list

In [92]:
list2

['Dairy', 'Banana', 'Cherry', 120, 130, 40.6, 8.9, 'chennai']

In [93]:
list2.append("Movie")
list2.append("sports")

In [94]:
list2

['Dairy',
 'Banana',
 'Cherry',
 120,
 130,
 40.6,
 8.9,
 'chennai',
 'Movie',
 'sports']

In [97]:
num=[]  # empty list
for i in range(6):
    num.append(i)
# i want save the values in a list

In [98]:
num

[0, 1, 2, 3, 4, 5]

In [ ]:
# get the square of each number from 1to5 and 
# store the outputs in a list name called square

In [100]:
square=[]
for i in range(1,6):
    square.append(i*i)

In [101]:
square

[1, 4, 9, 16, 25]

In [103]:
num=[i for i in range(6)]
num

[0, 1, 2, 3, 4, 5]

In [104]:
square=[i*i for i in range(1,6)]
square

[1, 4, 9, 16, 25]

In [ ]:
# LIST COMPREHENSHION
# it will improve fastness to run your code

In [106]:
# get a list of even numbers from 20 to 40
# write a normal append opertaion
even=[]
for i in range(20,40):
    if i%2==0:
        even.append(i)

In [109]:
even=[i for i in range(20,40) if i%2==0]
even

[20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [112]:
list1=eval(input("enter a list:"))

enter a list:[1,2,3,4,5]

In [113]:
list1

[1, 2, 3, 4, 5]

In [116]:
even_odd=[]
for i in range(20,40):
    if i%2==0:
        even_odd.append('even')
    else:
        even_odd.append('odd')

In [119]:
# List comprehension tricky when you are using if -else
even_odd=['even' if i%2==0 else 'odd' for i in range(20,40)]
even_odd

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [ ]:
# LC  ------> for loop
[i for i in range(1,10)]
#LC -------> for loop if 
[i for i in range(1,10) if condition]
# LC ------> if else
[o/p if condition else o/p for loop]