# String

part-2

1). string

2). list

3). tuples

4). dictionart

5). file handling

In [1]:
s="python"
s

'python'

In [2]:
z="science"
z

'science'

In [3]:
type(z)

str

In [4]:
str1="hello
         omakr"  # omakr string is in black colour ## why it is not printing

SyntaxError: EOL while scanning string literal (65098538.py, line 1)

In [ ]:
# to print this use triple quotes 
# triple quotes used to print next line string

In [5]:
str1="""hello
          omkar"""

In [6]:
str1

'hello\n          omkar'

In [7]:
print(str1)

hello
          omkar

In [8]:
str2="""hello
          omakr
          
          nallagoni"""

In [9]:
str2

'hello\n          omakr\n          \n          nallagoni'

In [10]:
print(str2)

hello
          omakr

          nallagoni

In [11]:
str2="""1


333





5


43
"""

In [12]:
str2

'1\n\n\n333\n\n\n\n\n\n5\n\n\n43\n'

In [13]:
print(str2)

1


333





5


43

In [ ]:
# to print quotes in output
# if we are using single quotes then use double quotes on that string that we want to print
# if we are using double quotes then use single quotes on that srting that we want to print
# every should be in red colour

In [17]:
str1='Nallagoni omkar is a 'data scientist'' # use double quotes on data scientist

SyntaxError: invalid syntax (1541109860.py, line 1)

In [19]:
str1='Nallagoni omkar is a "data scientist"'

In [20]:
str1

'Nallagoni omkar is a "data scientist"'

In [21]:
str1="Nallagoni omkar is a 'data scientist'"

In [22]:
str1

"Nallagoni omkar is a 'data scientist'"

## len concept

- len is used to calculate the length of a string
- it count inside the quotes and count everything inside it

In [23]:
string1="python"

In [24]:
len(string1)

6

In [25]:
string2="it gives the length of the string"

In [26]:
len(string2)

33

In [27]:
string3="nallagoni omkar"

In [28]:
len(string3)

15

In [ ]:
##  n a l l a g o n i     o   m   k   a  r
##  1 2 3 4 5 6 7 8 9 10  11 12  13  14  15   # 10 is here for space

In [30]:
string=""

In [31]:
len(string)

0

In [32]:
string='              '

In [33]:
len(string)

14

In [34]:
string="h,a,'s'"

In [35]:
len(string)

7

In [36]:
string="==+"

In [37]:
len(string)

3

In [38]:
string="_3"

In [39]:
len(string)

2

In [40]:
len(string="hai")

TypeError: len() takes no keyword arguments

In [41]:
a="length"

In [42]:
b=a

In [43]:
len(b)

6

In [44]:
input()   # string type

3

'3'

In [45]:
eval(input())  # numeric type

3

3

## indexing concept

- symbol s[0] square bracket after variable
- i can call a letter by using index
- in python index start with zero
- in python index from last start with one

In [47]:
s="python"

In [48]:
s[0]

'p'

In [49]:
s[4]

'o'

In [ ]:
# p y t h o n
# 0 1 2 3 4 5

In [50]:
name="krishna"

In [51]:
name[2]

'i'

In [52]:
len(name)

7

In [53]:
name[6]

'a'

In [54]:
name[7]

IndexError: string index out of range

In [55]:
name[-1]

'a'

In [56]:
name[-6]

'r'

In [57]:
name[-7]

'k'

In [ ]:
# -6 -5 -4 -3 -2 -1
# p   y  t  h  o  n
# 0   1  2  3  4  5

In [ ]:
string="python"
# print each and every letter using for loop
# your loop run 6 times
# intialisation i=0
# end=6-1=5

In [59]:
string="python"
for i in range(0,6):
    print(string[i])

p
y
t
h
o
n

In [60]:
string="python"
for i in range(0,6):
    print(string[i],end=" ")

p y t h o n

In [62]:

for i in range(0,6):
    print("{} index is {}".format(string[i],i))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [63]:
for i in range(0,len(string)):
    print("{} index is {}".format(string[i],i))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [64]:
num=len(string)
for i in range(0,num):
    print("{} index is {}".format(string[i],i))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [65]:
string=input()
num=len(string)
for i in range(0,num):
    print("{} index is {}".format(string[i],i))

hai
h index is 0
a index is 1
i index is 2

In [66]:
string=input()
num=len(string)
for i in range(0,num):
    print("{} index is {}".format(string[i],i))

does it matter
d index is 0
o index is 1
e index is 2
s index is 3
  index is 4
i index is 5
t index is 6
  index is 7
m index is 8
a index is 9
t index is 10
t index is 11
e index is 12
r index is 13
  index is 14

In [67]:
string=input()
num=len(string)
for i in range(0,num):
    print("{} index is {}".format(string[i],i))

d   d   d -
d index is 0
  index is 1
  index is 2
  index is 3
d index is 4
  index is 5
  index is 6
  index is 7
d index is 8
  index is 9
- index is 10

In [68]:
try:     
    string=input()
    num=len(string)
    for i in range(0,num):
        print("{} index is {}".format(string[i],i))
except Exception as e:
    print(e)

ddlj
d index is 0
d index is 1
l index is 2
j index is 3

In [ ]:
try:     
    string=input()
    num=len(string)   # try except method does work sometimes
    for i in range(0,num1):
        print("{} index is {}".format(string[i],i))
except Exception as e:
    print(e)

In [79]:
def string():
    try:
        string=input()
        num=len(string)
        for i in range(0,num):
            print("{} index of {}".format(string[i],i))
    except Exception as e:
        print("error occured=",e)

In [81]:
string()

hey siri,make a call
h index of 0
e index of 1
y index of 2
  index of 3
s index of 4
i index of 5
r index of 6
i index of 7
, index of 8
m index of 9
a index of 10
k index of 11
e index of 12
  index of 13
a index of 14
  index of 15
c index of 16
a index of 17
l index of 18
l index of 19

In [82]:
def string(string):
    try:
        num=len(string)
        for i in range(0,num):
            print("{} index is {}".format(string[i],i))
    except Exception as e:
        print("error occured=",e)

In [84]:
string("hey siri")

h index is 0
e index is 1
y index is 2
  index is 3
s index is 4
i index is 5
r index is 6
i index is 7

In [ ]:
# print in way 
# pos index of i is {} and neg index of i is {}
# how can we print

In [ ]:
# first print numbers
# the same range should provide pos and neg

In [2]:
string="python"
for i in range(0,len(string)):
    print(-i)

0
-1
-2
-3
-4
-5

In [1]:
for i in range(0,6):
    print(i,i-6)

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [3]:
for i in range(0,6):
    print(i,i-6,i-10,i+4)

0 -6 -10 4
1 -5 -9 5
2 -4 -8 6
3 -3 -7 7
4 -2 -6 8
5 -1 -5 9

In [11]:
string="python"
for i in range(0,len(string)):
    print("{} pos index is {} and {} neg index is {}".format(string[i],i,string[i],i-6))

p pos index is 0 and p neg index is -6
y pos index is 1 and y neg index is -5
t pos index is 2 and t neg index is -4
h pos index is 3 and h neg index is -3
o pos index is 4 and o neg index is -2
n pos index is 5 and n neg index is -1

In [14]:
string=input()
for i in range(0,len(string)):
    print("{} pos index is {} and {} neg index is {}".format(string[i],i,string[i],i-len(string)))

paisa bazar
p pos index is 0 and p neg index is -11
a pos index is 1 and a neg index is -10
i pos index is 2 and i neg index is -9
s pos index is 3 and s neg index is -8
a pos index is 4 and a neg index is -7
  pos index is 5 and   neg index is -6
b pos index is 6 and b neg index is -5
a pos index is 7 and a neg index is -4
z pos index is 8 and z neg index is -3
a pos index is 9 and a neg index is -2
r pos index is 10 and r neg index is -1

In [18]:
s="python"
for i in range(-6,0):
    print(i)

-6
-5
-4
-3
-2
-1

In [24]:
s="python"
for i in range(-6,0):
    print(s[i],i)

p -6
y -5
t -4
h -3
o -2
n -1

In [34]:
s="hey, siri"
for i in range(0,len(s)):
    print(s[i])

h
e
y
,

s
i
r
i

In [36]:
s="hey, siri"
for i in range(-len(s),0):
    print(s[i],i)

h -9
e -8
y -7
, -6
  -5
s -4
i -3
r -2
i -1

In [37]:
s="hey, siri"
for i in range(-len(s),0):
    print(i,-len(s))

-9 -9
-8 -9
-7 -9
-6 -9
-5 -9
-4 -9
-3 -9
-2 -9
-1 -9

In [38]:
s="hey, siri"
for i in range(-len(s),0):
    print(i,-len(s)-i)

-9 0
-8 -1
-7 -2
-6 -3
-5 -4
-4 -5
-3 -6
-2 -7
-1 -8

In [39]:
s="hey, siri"
for i in range(-len(s),0):
    print(i,-len(s)+i)

-9 -18
-8 -17
-7 -16
-6 -15
-5 -14
-4 -13
-3 -12
-2 -11
-1 -10

In [41]:
s="hey, siri"
for i in range(-len(s),0):
    print(i,i-(-len(s)))

-9 0
-8 1
-7 2
-6 3
-5 4
-4 5
-3 6
-2 7
-1 8

In [42]:
s="hey, siri"
for i in range(-len(s),0):
    print("neg index of {} is {} and pos index of {} is {}".format(s[i],i,s[i],i-(-len(s))))

neg index of h is -9 and pos index of h is 0
neg index of e is -8 and pos index of e is 1
neg index of y is -7 and pos index of y is 2
neg index of , is -6 and pos index of , is 3
neg index of   is -5 and pos index of   is 4
neg index of s is -4 and pos index of s is 5
neg index of i is -3 and pos index of i is 6
neg index of r is -2 and pos index of r is 7
neg index of i is -1 and pos index of i is 8

In [43]:
s="hey, siri"
for i in range(-len(s),0):
    print("neg index of {} is {} and pos index of {} is {}".format(s[i],i,s[i],i+len(s)))

neg index of h is -9 and pos index of h is 0
neg index of e is -8 and pos index of e is 1
neg index of y is -7 and pos index of y is 2
neg index of , is -6 and pos index of , is 3
neg index of   is -5 and pos index of   is 4
neg index of s is -4 and pos index of s is 5
neg index of i is -3 and pos index of i is 6
neg index of r is -2 and pos index of r is 7
neg index of i is -1 and pos index of i is 8

In [44]:
s="hey, siri"
for i in range(-len(s),0):
    print("neg index of {} is {} and pos index of {} is {}".format(s[-i],i,s[-i],i-(-len(s))))

IndexError: string index out of range

In [45]:
s="python"
s[-1]

'n'

In [46]:
s="python"
for i in range(0,len(s)):
    print(s[-i])

p
n
o
h
t
y

In [47]:
string="python"
num=-len(string)
for i in range(num,0):
    print("neg index of {} is {} and pos index of {} is {}".format(s[i],i,s[i],i-num))

neg index of p is -6 and pos index of p is 0
neg index of y is -5 and pos index of y is 1
neg index of t is -4 and pos index of t is 2
neg index of h is -3 and pos index of h is 3
neg index of o is -2 and pos index of o is 4
neg index of n is -1 and pos index of n is 5

In [51]:
string="python"
num=-len(string)
for i in range(num,0):
    print("neg index of {} is {} and pos index of {} is {}".format(s[i],i,s[-i+num],i))

neg index of p is -6 and pos index of p is -6
neg index of y is -5 and pos index of n is -5
neg index of t is -4 and pos index of o is -4
neg index of h is -3 and pos index of h is -3
neg index of o is -2 and pos index of t is -2
neg index of n is -1 and pos index of y is -1

## membership operator

In [ ]:
# it take direct letter

In [52]:
s='PYTHON'

In [53]:
"P"in s

True

In [54]:
"p" in s

False

In [ ]:
"P" in s ...........>>> true
"Y" in s ...........>>> true
'H' in s ...........>>> false

In [55]:
for i in s:
    print(i)

P
Y
T
H
O
N

In [ ]:
# range ...............> number..........>index
# in .................> direct

In [56]:
a="123"
for i in a:
    print(i)

1
2
3

In [57]:
for i in range(0,len(s)):# numeric
         print(s[i],end=" ")  # index

P Y T H O N

In [60]:
string="apple"
# print each letter using while loop
# for i in string:
#       print(i)
# for i in range(0,len(s)):
#      print(s[i])

In [62]:
i=0
while i<len(string):   # here i<6:
    print(string[i])   # s[0,1,2,3,4,5]
    i=i+1

a
p
p
l
e

In [ ]:
# enter a string from keyboard
# and print the vowels
# my_string="hai how are you"

In [ ]:
# step-1 take a string from keyboard........>input
# step-2 iterate over a string(take each letter)......>for
# step-3 verify it is vowel or not ...............> if
# step-4 print that vowel ..............>print

In [63]:
my_string=input()
for i in my_string:
    if i in "aeiou":
        print(i)

hai how are you
a
i
o
a
e
o
u

In [ ]:
# i want to append/concatention string 1 into string 2
# string 1 will go into string2

In [68]:
string1="hai"
string2=""
string1+string2

'hai'

In [69]:
' '+"cd"

' cd'

In [70]:
"ab"+"cd"

'abcd'

In [71]:
string1="hai"
string2=""
for i in string1:
    print(i)

h
a
i

In [76]:
string1="hai"
string2=""
for i in string1:
    string2=string2+i
    print(i)

h
a
i

In [77]:
string2

'hai'

In [73]:
string1="hai"
string2=""
for i in string1:
    string2=i+string2
    print(i)

h
a
i

In [74]:
string2

'iah'

In [ ]:
#1............>h.......> string2=''+'h'='h'
#2...........> a .......> string2='h'+'a'='ha'    # string2+i
#3...........> i .......> string2='ha'+'i'='hai'

In [ ]:
#1.........>h..........> string2='h'+''='h'
# 2........> a.........> string2='a'+'h'='ah'    # i+string2
# 3........> i ........> string2='i'+'ah'='iah'

In [ ]:
'hai how are you'
# h ...........> not vowel
# a ...........> vowel
# i ...........> vowel
# h ...........> not vowel
# o ...........> vowel
# w ...........> not vowel
# a ...........> already a consider i will not print
# r ...........> not vowel
# e ...........> vowel

In [ ]:
# every vowel upload into a new empty string
# string3="aio"
# a is in there in string3.......>yes
# no print

In [81]:
string1=input()
string2=""
for i in string1:
    if i in "aeiou":   # second a true
        if i not in string2: # second a not in string2='aio'
            string2=string2+i
            print(string2)

hey, siri
e
ei

In [82]:
string2

'ei'

In [83]:
string1=input()
string2="-----"
for i in string1:
    if i in "aeiou":   # second a true
        if i not in string2: # second a not in string2='aio'
            string2=string2+i
            print(string2)

hey, siri
-----e
-----ei

In [84]:
string1=input()
string2=""
for i in string1:
    if i in "aeiou":   # second a true
        if i not in string2: # second a not in string2='aio'
            string2=string2+i
            print(string2)

hai how are you
a
ai
aio
aioe
aioeu

In [87]:
round(5.266)

5

In [90]:
x = 1  
while True:  
    if x%5==0:  
        break  
    print(x)   
    x += 1

1
2
3
4

In [91]:
i = 0  
while i < 3:  
    print(i)  
    i += 1  
else:  
    print(0)

0
1
2
0

In [92]:
d = {0, 1, 2}  
for x in d:  
    print(x)

0
1
2

In [95]:
def example(a):  
    aa = a + '1'  
    aa = a*1  
    return a  
example("javatpoint")

'javatpoint'

In [96]:
print(True ** False / True)

1.0

In [97]:
int1 = 10  
int2 = 6  
if int != int2:  
    int2 = ++int2  
    print(int1 - int2)

4

In [98]:
6%1

0

In [99]:
word = "javatpoint"   # when a user prints a string with "*" that string is printed with the space in each word
print(*word)

j a v a t p o i n t

In [100]:
i = 2, 10  
j = 3, 5  # "i" and "j" are tuples values. The tuple values are added to the bracket.
add = i + j  
print(add)

(2, 10, 3, 5)

In [101]:
print(int(6 == 6.0) * 3 + 4 % 5)

7

In [109]:
int(6 == 6.0)

1

In [110]:
6==6.0

True

In [102]:
4%5

4

In [103]:
5%4

1

In [104]:
6%7

6

In [105]:
7%6

1

In [106]:
8%9

8

In [107]:
9%8

1

In [108]:
29%32

29

In [ ]:
# a%b if a is greater than b then it always show output a
# a vo  value jo divide hoge 
# or b jis se divide hoge

In [111]:
i = 2  
j = 3, 5  
add = i + j  
print(add)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In this program, "i" is the integer value, and "j" is the tuple value. The integer and tuple values cannot be added in the python programming language

In [112]:
print('It\'s ok, don\'t worry')

It's ok, don't worry

the backslash "\" is an escape character in python

In [ ]:
# backslash gone in above statement lol
# the backslash "\" is an escape character in python

In [113]:
a = '1 2'  
print(a * 2)  # it means string print two times
print(a * 0)  # it means string is empty
print(a * -2)  # Any string cannot be negative. Therefore, the string will not print any word.

1 21 2

In [114]:
a = "123789"  
while x in a:  
    print(x, end=" ")

TypeError: 'in <string>' requires string as left operand, not int

In [115]:
a = "123789"  
while i in a:  
    print(i, end=" ")

TypeError: 'in <string>' requires string as left operand, not int

In [ ]:
# x and i are not defined

In [116]:
flag = ""  
a = 0  
i = 1  
while(a < 3):  
    j = 1  
    if flag:  
        i = j * i + 5  
    else:  
        i = j * i + 1  
    a = a + 1  
print(i)

4

In [3]:
i = [10, 11, 12, 13]  # The value of i[-2] changes in each iteration
for i[-3] in i:  
    print(i[-3])

10
10
12
13

In [120]:
i=[10,11,12,13]
print(i[-2])

12

In [121]:
i=(10,11,12,13)
for i[-2] in i:
    print(i[-2])

TypeError: 'tuple' object does not support item assignment

In [122]:
i = 10  
j = 8  
assert i > j, 'j = i + j'  
print(j)

8

In this program, the assert keyword has been used to mislead the user. Therefore, this program will print the value of "j".

In [123]:
arr = [3 , 2 , 5 , 6 , 0 , 7, 9]  
add1 = 0  
add2 = 0  
for elem in arr:  
    if (elem % 1 == 0):  
        add1 = add1 + elem  
        continue  
    if (elem % 3 == 0):  
        add2 = add2 + elem  
print(add1 , end=" ")  
print(add2)

32 0

In [125]:
a = 2  
while(a > -100):  #This loop will run the 1 to -100 (1, 0, -1,?, -100).
    a = a - 1  
    print(a,end=" ")

1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10 -11 -12 -13 -14 -15 -16 -17 -18 -19 -20 -21 -22 -23 -24 -25 -26 -27 -28 -29 -30 -31 -32 -33 -34 -35 -36 -37 -38 -39 -40 -41 -42 -43 -44 -45 -46 -47 -48 -49 -50 -51 -52 -53 -54 -55 -56 -57 -58 -59 -60 -61 -62 -63 -64 -65 -66 -67 -68 -69 -70 -71 -72 -73 -74 -75 -76 -77 -78 -79 -80 -81 -82 -83 -84 -85 -86 -87 -88 -89 -90 -91 -92 -93 -94 -95 -96 -97 -98 -99 -100

In [126]:
a = 5 
while(a > -100):  #This loop will run the 1 to -100 (1, 0, -1,?, -100).
    a = a - 1  
    print(a,end=" ")

4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10 -11 -12 -13 -14 -15 -16 -17 -18 -19 -20 -21 -22 -23 -24 -25 -26 -27 -28 -29 -30 -31 -32 -33 -34 -35 -36 -37 -38 -39 -40 -41 -42 -43 -44 -45 -46 -47 -48 -49 -50 -51 -52 -53 -54 -55 -56 -57 -58 -59 -60 -61 -62 -63 -64 -65 -66 -67 -68 -69 -70 -71 -72 -73 -74 -75 -76 -77 -78 -79 -80 -81 -82 -83 -84 -85 -86 -87 -88 -89 -90 -91 -92 -93 -94 -95 -96 -97 -98 -99 -100