In [ ]:
Write a Pandas program to create and display a one-dimensional array-like object containing an array of [1,2,3,4,5,6] of data.

Write a Pandas program to convert a Panda module Series of [9,8,7,6,5,4,3,2,1] to Python list and it’s type.

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [1,2,3,4,5,6], [6,5,4,3,2,1]
 


Write a Pandas program to compare the elements of the two Pandas Series.

Sample Series: [9,8,7,6,5,4,3,2,1]
    [1,2, 3,4, 5,6, 7,8,9]
 
    
Write a Pandas program to convert a dictionary to a Pandas series.
Sample dictionary: d1 = {'a’': 10, 'b': 20, 'c':30, 'd':40, 'e':50}
 
Write a Pandas program to convert a NumPy array to a Pandas series.

Sample NumPy array: d1 = [1, 2, 3, 4, 5,6,7,8,9,10]
 

Write a Pandas program to sort a Series [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]


Write a Pandas program to get the items of a given series not present in another given series.

Write a Pandas program to change the order of index of a given series.


Write a Pandas program to change the data types.
Sample Series:
Actual Data Series: [ Ajay, 10, python, 15.03, 25]    dtype: object
Modified Data Series : [Nan, 10.00, Nan, 15.03, 25.00]dtype: float64
        
        
Pandas program to convert the second column of a DataFrame as a Series
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}


Write a Pandas program to get the items which are not common of two given series.
[1, 2, 3, 4, 5], [7,  6, 5, 4, 3]
 
    
Pandas program to find the minimum, 20th percentile, 50th percentile, 80th,
and maximum of a given series of [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

Write a Pandas program to create 6 subset of a given series of [0, 1,2,3,4,5,6,7,8,9,10] based on value


Write a Pandas program to add 400 to data to an existing Series [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

In [1]:
import pandas as pd

data = [1,2,3,4,5,6]

pd.Series(data)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [2]:
import pandas as pd

s = pd.Series([9,8,7,6,5,4,3,2,1])

print(s.tolist())

print(type(s.tolist()))

[9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'list'>

In [10]:
import pandas as pd
ds1 = pd.Series([1, 2, 3, 4, 5, 6])
ds2 = pd.Series([6, 5, 4, 3, 2, 1])

ds_add = ds1 + ds2
ds_sub = ds1 - ds2
ds_mul = ds1 * ds2

ds_div = ds1 / ds2

print("add:",ds_add)
print("sub:",ds_sub)
print("mul:",ds_mul)
print("div",ds_div)

add: 0    7
1    7
2    7
3    7
4    7
5    7
dtype: int64
sub: 0   -5
1   -3
2   -1
3    1
4    3
5    5
dtype: int64
mul: 0     6
1    10
2    12
3    12
4    10
5     6
dtype: int64
div 0    0.166667
1    0.400000
2    0.750000
3    1.333333
4    2.500000
5    6.000000
dtype: float64

In [11]:
import pandas as pd
ds1 = pd.Series([9,8,7,6,5,4,3,2,1])
ds2 = pd.Series([1,2, 3,4, 5,6, 7,8,9])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0    9
1    8
2    7
3    6
4    5
5    4
6    3
7    2
8    1
dtype: int64
Series2:
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
5    False
6    False
7    False
8    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
dtype: bool

In [1]:
d1 = {'a': 10, 'b': 20, 'c':30, 'd':40, 'e':50}
d1 = pd.Series(d1)
print(d1)

NameError: name 'pd' is not defined

In [13]:
d1 = [1, 2, 3, 4, 5,6,7,8,9,10]
 
pd.Series(d1)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [14]:
import pandas as pd
s = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])
print("Original Data Series:")
print(s)
new_s = s.sort_values()
print("Sorted Data Series:")
print(new_s)

Original Data Series:
0     100
1      20
2     300
3     250
4      50
5     360
6      70
7     180
8     960
9     100
10    110
11    320
12    830
13    640
14    590
15    260
dtype: int64
Sorted Data Series:
1      20
4      50
6      70
0     100
9     100
10    110
7     180
3     250
15    260
2     300
11    320
5     360
14    590
13    640
12    830
8     960
dtype: int64

In [16]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print(s1)
print(s2)
print("\nItems of a given series not present in another given series:")
result = s1[~s1.isin(s2)]
print(result)

Original Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of a given series not present in another given series:
0    1
2    3
4    5
dtype: int64

In [2]:

    import pandas as pd
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [8]:
 
import pandas as pd
s = pd.Series(['Ajay', 10, 'python', 15.03, 25])
print("Actual Data Series:")
print(s)
s = s.astype(float)
print("Modified Data Series:")
print(s)

Actual Data Series:
0      Ajay
1        10
2    python
3     15.03
4        25
dtype: object

ValueError: could not convert string to float: 'Ajay'

In [9]:
df = pd.DataFrame(data=d)
print("Original DataFrame")
print(df)
s = df.iloc[:,1]
print("\n1st column as a Series:")
print(s)
print(type(s))

NameError: name 'd' is not defined

In [10]:
s = pd.Series(d['col2'])
print(s)

NameError: name 'd' is not defined

In [11]:

import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([7, 6, 5, 4, 3])
print("Items of s1 not present in s2:")
print(s1[~s1.isin(s2)])
print("Items of s2 not present in s1:")
print(s2[~s2.isin(s1)])

Items of s1 not present in s2:
0    1
1    2
dtype: int64
Items of s2 not present in s1:
0    7
1    6
dtype: int64

In [12]:
import pandas as pd

ds = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])

print("Minimum:", ds.min())
print("20th percentile:", ds.quantile(0.2))
print("50th percentile:", ds.quantile(0.5))
print("80th percentile:", ds.quantile(0.8))
print("Maximum:", ds.max())

Minimum: 20
20th percentile: 100.0
50th percentile: 255.0
80th percentile: 590.0
Maximum: 960

In [13]:
import pandas as pd
s = pd.Series([0, 1,2,3,4,5,6,7,8,9,10])
print(s)
subset1 = s[s <= 2]
print(subset1)
subset2 = s[s > 5]
print(subset2)
subset3 = s[s <= 7]
print(subset3)
subset4 = s[s > 3]
print(subset4)
subset5 = s[s != 5]
print(subset5)
subset6 = s[s.isin([5, 10])]
print(subset6)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
dtype: int64
6      6
7      7
8      8
9      9
10    10
dtype: int64
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int64
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
0      0
1      1
2      2
3      3
4      4
6      6
7      7
8      8
9      9
10    10
dtype: int64
5      5
10    10
dtype: int64

In [14]:
import pandas as pd
s = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])
print("Original Data Series:")
print(s)
print("\nData Series after adding 400 to each value:")
s = s + 400
print(s)

Original Data Series:
0     100
1      20
2     300
3     250
4      50
5     360
6      70
7     180
8     960
9     100
10    110
11    320
12    830
13    640
14    590
15    260
dtype: int64

Data Series after adding 400 to each value:
0      500
1      420
2      700
3      650
4      450
5      760
6      470
7      580
8     1360
9      500
10     510
11     720
12    1230
13    1040
14     990
15     660
dtype: int64