# python operators

- Arithmetic operators
- Relational operators
- Membership operators
- Bitwise operators

$arithmetic$ $operators$

In [ ]:
esc + m open markdown

In [ ]:
# addition(+)
# substraction(-)
# multiplication(*)
# modulus(%)
# division(/)
# floor division(//)
# exponential(**)

$addition$

In [1]:
salary=5000.0
bonus=2500
total_income=salary+bonus
total_income

7500.0

In [2]:
type(salary),type(bonus)

(float, int)

In [4]:
first_name="james"
second_name="anderson"
first_name+second_name

'jamesanderson'

In [ ]:
# to put gap bw james and anderson

In [6]:
first_name="james"
second_name=" "
third_name="anderson"
first_name+second_name+third_name

'james anderson'

In [7]:
first_name="james"
second_name="anderson"
first_name+" "+second_name

'james anderson'

In [8]:
first_name="james "
second_name="anderson"
first_name+second_name

'james anderson'

In [9]:
text="age is" # string
age= 22       #int    # we cant add string and int 
text + age            # we can add/concatenate string and string

TypeError: can only concatenate str (not "int") to str

In [ ]:
# if we want get the answer we use type casting
# or put quotes on

In [11]:
text="age is "
age=str(age)
text + age

'age is 22'

In [14]:
text="age is "
age = 22
text+str(age)

'age is 22'

In [15]:
text="age is " # string
age="22"       # string
text+age

'age is 22'

In [16]:
text1="i love"
text2="python"
text1+" "+text2

'i love python'

In [17]:
person="ramesh marks is "
marks=22
person+str(marks)

'ramesh marks is 22'

## $substraction$

In [18]:
income=500000.0
tax=2500
total_income=income-tax
total_income

497500.0

In [19]:
first_name="james"   # we cannot substract string into string
second_name="anderson"
first_name-second_name

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [20]:
first_name="james"
second_name="james"
first_name-second_name

TypeError: unsupported operand type(s) for -: 'str' and 'str'

## $Multiplication$

In [22]:
price_per_apple=10
total_apples=150
total_amount=price_per_apple*total_apples
total_amount

1500

In [23]:
price_per_apple=10.5  # float
total_apples=150      # int
total_amount=price_per_apple*total_apples
total_amount

1575.0

In [24]:
city="mumbai"
city*city    # we cant multiply sequence by non-int of type str

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
city*3

'mumbaimumbaimumbai'

In [26]:
city+city+city

'mumbaimumbaimumbai'

In [ ]:
# we cant multiply,substract two string
# we can do addition/concatination

## $Division$

In [29]:
total_cost_of_apples=2000
no_of_apples=10
price_per_apples=total_cost_of_apples/no_of_apples
price_per_apples

200.0

In [31]:
total_cost_of_apples=576
no_of_apples=11
price_per_apples=total_cost_of_apples/no_of_apples
price_per_apples

52.36363636363637

In [ ]:
# we will round concept further to how many values we need after decimal

In [32]:
"A/B"

'A/B'

In [33]:
"A"/"B"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

## $modulus$ $$$$ $operator $

- used to find remainder
- symbol=%

In [34]:
num1=5
num2=2
value=num1%num2
value

1

$a$ $$$$
$a$

In [35]:
num1=50
num2=24
value=num1%num2
value

2

In [37]:
print("the remainder is:",value)

the remainder is: 2

## $$floor$$ $$division$$

- used to get quotient
- symbol=//

In [39]:
num1=5
num2=2
value=num1//num2
print("the quotient is:",value)

the quotient is: 2

In [41]:
num1=509
num2=2222
value=num1//num2
print("the quotient is:",value)

the quotient is: 0

## $$Exponential$$

In [42]:
square_side=20
area_of_square=20**2 # 20*20
area_of_square

400

In [44]:
cube_side=20
volume_of_cube=20**3 #20*20*20
volume_of_cube

8000

## 2. Relational operators

-  less than <
-  less than or equal to <=
-  greater than >
-  greater than or equal to >=
-  equal to ==
-  not equal to !=

In [ ]:
# when you are applying any relation type
# you are asking a question to computer
# computer will give answer 
 True/False.........> Boolean

In [47]:
suresh_age=28    # one = sign means suresh age is equal to krishna,in this we are not asking 
krishna_age=25   # two == sign means we are asking pc is they are equal??
suresh_age==krishna_age

False

In [48]:
suresh_age>krishna_age

True

In [49]:
suresh_age>=krishna_age  # give prefernce greater than inside of equal to ??

True

In [50]:
suresh_age<krishna_age

False

In [51]:
suresh_age<=krishna_age

False

In [52]:
suresh_age!=krishna_age

True

## 3. Membership operators

In [ ]:
# in operator
# this gives answer in True/False

In [54]:
string="python"   
"p" in "python"

True

In [55]:
"k" in "python"

False

In [56]:
"h" in string

True

In [57]:
num= "happy singh"

In [58]:
"a" in num   # either we ask in variable(num) or in string(dont forget to put comma ) we didnt need to define string while asking

True

In [59]:
"s" in num

True

In [60]:
"p" in 'happy singh'

True

In [61]:
" " in num

True

In [62]:
" s" in "happy"

False

In [63]:
"k" in "kaka"

True

In [64]:
"34" in "340982"

True

In [65]:
a=23213
2 in a # but in list,tuple,set,dict work and string

TypeError: argument of type 'int' is not iterable

In [67]:
number1=int(input("enter a number"))

enter a number40.5

ValueError: invalid literal for int() with base 10: '40.5'

In [ ]:
# to avoid this we use eval concept

# $$evaluate$$

In [ ]:
# eval - by using we can give int or float value
# and we cannot need to change them again

In [68]:
number1=eval(input("enter a number1:"))
number2=eval(input("enter a number2:"))
addition=number1+number2

enter a number1:2
enter a number2:3

In [69]:
number1=eval(input("enter a number1:"))
number2=eval(input("enter a number2:"))
addition=number1+number2
addition

enter a number1:20
enter a number2:3.9

23.9

In [70]:
number1=eval(input("enter a number1:"))
number2=eval(input("enter a number2:"))
addition=number1+number2
print("the addition is",addition)

enter a number1:93.5
enter a number2:64.1
the addition is 157.6

In [71]:
number1=eval(input("enter a number1:"))
number2=eval(input("enter a number2:"))
addition=number1+number2
print("the addition of {} and {} is {}".format(number1,number2,addition))

enter a number1:45.1
enter a number2:63
the addition of 45.1 and 63 is 108.1

In [73]:
number1=eval(input("enter a number1="))
number2=eval(input("enter a number2="))
number3=eval(input("enter a number3="))
product=number1*number2*number3
print("the product of {}, {} and {} is {}".format(number1,number2,number3,product))

enter a number1=51.9
enter a number2=37
enter a number3=99.6
the product of 51.9, 37 and 99.6 is 191261.87999999998

In [ ]:
# we study round concept further that how many we need after decimal

In [74]:
number1=eval(input("enter a number1="))
number2=eval(input("enter a number2="))
number3=eval(input("enter a number3="))
square_and_sum=number1**2 + number2**2 + number3**2
print("the square and sum of {}, {} and {} is {}".format(number1,number2,number3,square_and_sum))

enter a number1=2
enter a number2=3
enter a number3=4
the square and sum of 2, 3 and 4 is 29

In [75]:
number1=eval(input("enter a number1="))
number2=eval(input("enter a number2="))
number3=eval(input("enter a number3="))
a=number1**2 
b=number2**2
c= number3**2
answer=a+b+c
print("the square of {} is{}, {} is{}, and {} is {}, and sum is {}".format(number1,a,number2,b,number3,c,answer))

enter a number1=2
enter a number2=3
enter a number3=4
the square of 2 is4, 3 is9, and 4 is 16, and sum is 29

In [76]:
number1=eval(input("enter a number1="))
number2=eval(input("enter a number2="))
number3=eval(input("enter a number3="))
a=number1**2 
b=number2**2
c= number3**2
answer=a+b+c
print("the square of {} is {}, {} is {}, and {} is {}, and sum is {}".format(number1,a,number2,b,number3,c,answer))

enter a number1=20
enter a number2=31.5
enter a number3=100
the square of 20 is 400, 31.5 is 992.25, and 100 is 10000, and sum is 11392.25