# data types in python

- string
- numberic($integer, float$)
- boolean
- complex

 ### $1.string$
    string should be in double quotes or single quotes

In [1]:
name ="python"  # In C you need to provide data type while intialize the value 
                # int a=25
                # but in python no need to define 
name

'python'

In [2]:
type(name)

str

In [3]:
person=name # here we store one variable in other variable 
            # if we put quotes on name then it will consider as a string not a variable
person

'python'

In [4]:
person="name"
person

'name'

## $2.numeric$

In [5]:
#integer
a=25
a

25

In [6]:
type(a)

int

In [7]:
#float
a=45.8
a

45.8

In [8]:
type(a)

float

## $3.boolean$

- boolean....> True or False
- binary
- 1 0
- True=1
- False=0

In [ ]:
True or False always in capital

In [11]:
a=20
b=30.4
answer=a<b
answer

True

In [10]:
type(answer)

bool

In [16]:
is_student=True
is_pay_the_fees=False

type(is_student),type(is_pay_the_fees) # we cant write both inside type ex: type(is_student,is_pay_the_fees) is wrong

(bool, bool)

In [17]:
a=1
type(a) # we have to convert 1 into boolean

int

## $3.complex$

- complex has two parts
- one real number and another is imaginary number
- a+bj
- where a= real number and b = imaginary number

In [ ]:
# 3+4j
# real number = 3
# imaginary numer=4

# variable.real .....> will give real number
# variable.imag.....> will give imaginary number

In [18]:
a= 3+4j
a.real   # here only last value is consider to avoid this 
a.imag

4.0

In [20]:
a.real, a.imag

(3.0, 4.0)

In [21]:
b=3.2+5.6j
b.real, b.imag

(3.2, 5.6)

In [22]:
type(a.real),type(a.imag),type(b.real),type(b.imag) # we cant all inside in type

(float, float, float, float)

In [23]:
type(a),type(b)

(complex, complex)

In [25]:
print("the real number is {} and the imaginary number is {} of a complex number {}".format(a.real,a.imag,a))

the real number is 3.0 and the imaginary number is 4.0 of a complex number (3+4j)

In [27]:
print("the real number is {} and the imaginary number is {} of a complex number {}".format(b.real,b.imag,b))

the real number is 3.2 and the imaginary number is 5.6 of a complex number (3.2+5.6j)

In [28]:
print("the real number is {} of a complex number{} and the imaginary number is {} of a complex number {}".format(a.real,a,b.imag,b))

the real number is 3.0 of a complex number(3+4j) and the imaginary number is 5.6 of a complex number (3.2+5.6j)

#### add imaginary and real values of a given complex number 100+50j

In [29]:
number=100+50j
a=number.real
b=number.imag
a+b

150.0

In [1]:
a=100+50j
b=20+30j  
c=a+b
c

(120+80j)

In [33]:
c.real+c.imag

200.0

In [ ]:
a=40+19j

In [35]:
a.real # this is taking previous above defined value bcz we cant run the above cell

100.0

## type casting

In [ ]:
# if we want to convert one type to another type

In [ ]:
# string to numeric

In [36]:
number='25'  # string should be in quotes
type(number)

str

In [39]:
number="25"
float(number)

25.0

In [40]:
a=float(number)
type(a)

float

In [41]:
a="210"
b=float(a) ## use print function to want b printed in output
type(b)

float

In [42]:
z="abcd"  # we cant convert string text based values in float or int
n=float(z)

ValueError: could not convert string to float: 'abcd'

In [43]:
price= 52.6 # here price is a variable store value of 52.6
type(price)

float

In [46]:
str(price)

'52.6'

In [47]:
a=str(price)
type(a)

str

In [ ]:
# str into int

In [3]:
num="7"
type(num)

str

In [49]:
int(num)

7

In [4]:
a=float(num)
type(a)

float

In [51]:
type(int(num))

int

### str float type value can never be converted into int directly
### we can convert first into float then into int
### and str text based value never be converted into float or int

In [52]:
num="7.5"
int(num)

ValueError: invalid literal for int() with base 10: '7.5'

In [53]:
num="7.5"
float(num)

7.5

In [54]:
int(float(num))

7

In [ ]:
"7.5" ........>float....>7.5    # string(decimal type) into float or int
      .........> int....>error

In [ ]:
"7"  ........>float.....>7.0  # string(normal) into float or int
     ........>int.......>7

In [ ]:
7.5 ........>str......>'7.5' # float into string or oint
    ........>int......>7

In [ ]:
7 .........>str......>'7' #int into float or string
  .........>float....>7.0

In [64]:
str ="+"  # + is not a number so it cannot coverted into both int and float
int(str)

ValueError: invalid literal for int() with base 10: '+'

 ### boolean conversion

In [ ]:
#True=1
#False=0

In [ ]:
# int to bool

In [55]:
is_student=1
type(is_student)

int

In [56]:
bool(is_student)

True

In [57]:
a=bool(is_student)
type(a)

bool

In [58]:
is_student= 0
type(is_student)

int

In [59]:
bool(is_student)

False

In [60]:
a = bool(is_student)
type(a)

bool

In [61]:
is_student=2 # other than zero all values are consider as true
bool(is_student)

True

In [62]:
is_student=-2.5
bool(is_student)

True

In [ ]:
##### we can take values in two way

In [ ]:
# method 1 pre given value 
# method 2 ask value from user

In [67]:
# method 1
num1=20
num2=50
num=num1+num2  # why it cant show output bcz we here only define the variables 
               # to want values either use print or defined variable empty where we store the operations 
               # num1+num2 also gives the output bcz here we dont store in a variabe
               # storing value in varaibles need print or empty that variable

In [68]:
num ## defined variable empty

70

In [69]:
num1=20
num1

20

In [70]:
num1=20
print(num) ## dont use "" on variables

70

In [71]:
num1=20
print("num is ",num1)

num is  20

In [73]:
# method 2
number1 =input("enter a number1 ")
number2 =input("enter a number2 ")
number1+number2

enter a number1 80
enter a number2 70

'8070'

## python by default consider input values in string so we have to convert it

### conversion of input is done in two ways
- int(input(  )) # on input
- int(num1)+ int(num2) # on operation

In [76]:
num1=int(input("enter a number1:"))
num2 =int(input("enter a number2:"))
num1+num2

enter a number1:30
enter a number2:50

80

In [78]:
num1=int(input("enter a number1:"))
num2 =int(input("enter a number2:"))
summation=num1+num2   # dont use sum bcz it becomes green so it will consider as inbuilt function
print("the sum of two numbers {} and {} is {}".format(num1,num2,summation))

enter a number1:30
enter a number2:78
the sum of two numbers 30 and 78 is 108

In [ ]:
# why summation is shown in a output bcz we are storing values in a value either we will print pr empty variable

In [79]:
num1=int(input("enter a number1:"))
num2 =int(input("enter a number2:"))
summation=num1+num2 # empty variable dont work where print is used okay?
summation
print("the sum of two numbers {} and {} is {}".format(num1,num2,summation))

enter a number1:20
enter a number2:1
the sum of two numbers 20 and 1 is 21

In [80]:
num1=int(input("enter a number1:"))
num2 =int(input("enter a number2:"))
summation=num1+num2   # here only summation value is shown in output
print(summation)

print("the sum of two numbers {} and {} is {}".format(num1,num2,summation))

enter a number1:67
enter a number2:20
87
the sum of two numbers 67 and 20 is 87

In [81]:
num1=int(input("enter a number1:"))
num2 =int(input("enter a number2:"))
summation=num1+num2   
print("the summation of",summation)

print("the sum of two numbers {} and {} is {}".format(num1,num2,summation))

enter a number1:78
enter a number2:98
the summation of 176
the sum of two numbers 78 and 98 is 176

In [ ]:
#eval concept comes on next session