# pyhton

kernal ------->python
whenever we run the code, white dot becomes black until code excute

ipynb--------> interactive python notebook

In [ ]:
for output press shift + enter

cell-----> 
if you want to run a code----->code option
- markdown uses 
1. to write a notebook
2.heading
3.you can add images
4. write up and code

today is a intersting day

i am going to learn python.

In [ ]:
# hastag uses in markdown
# space dena h (ex: #happy treated as a heading or simple information)
## decrease size
##### decrease size 
###### only 6 hastag are  allowed 
use in starting of a line 

note: in markdown In[] will gone/disappear

# happy 
## happy
#### happy
###### happy

## variables

In [ ]:
variable----->it will vary------> it can change
it is used to store or save value information

python=30
i am storing 30 in variable name called python
similarly

a=28
i am storing 28 in a variable name called a

In [19]:
a=10  #shift + enter button for output
a

10

In [20]:
NUMBER = 20
NUMBER

20

In [21]:
NuMBEr=34
NuMBEr

34

In [22]:
number =18
number

18

In [23]:
num123= 34
num123

34

In [24]:
123num= 21
123num

SyntaxError: invalid syntax (2171330615.py, line 1)

In [25]:
number@ = 21
number@

SyntaxError: invalid syntax (3432889452.py, line 1)

In [26]:
num% = 21
num%

SyntaxError: invalid syntax (2635741288.py, line 1)

In [28]:
num_2 = 89
num_2

89

In [29]:
_ = 58
_

58

In [1]:
a&=29  
a&

SyntaxError: invalid syntax (979359131.py, line 2)

## $$decleration$$ $$of$$ $$variable$$ $$in$$ $$python$$

- both upper case, lower case and combination of upper and lower case are allowed
- numbers as suffix allowed(ex: num123)
- numbers as prefix will not allowed (ex: 123num)
- no spl character and other than this not allowed
- only underscore can allowed (ex: number_ , number_age , _a  , _ )
- unlimited length

#### - if anything comes as green/red that are not allowed as a variable

###### string can be written in single quotes or double

In [37]:
num = rohan # put quotes on rohan bcoz it is a string
num

NameError: name 'rohan' is not defined

In [31]:
first_name = "garry"
first_name

'garry'

In [32]:
first name = "garry" # we can;t provide space bw two varible use underscore
first name

SyntaxError: invalid syntax (1790925765.py, line 1)

invalid because underscore should be comes in between first and name 
like first_name

In [33]:
first_name = "garry"
first_name = "roger"

first_name

'roger'

we consider only the last or latest value in a variable

In [34]:
person = "ramesh"
friend_name = person

friend_name

'ramesh'

we can store one variables in other variable
remember that do not put quotes on variable that we want to store in other variable
ex: friend_name = "person" 
    here person is consider as a string not a variable

In [36]:
num = rohan
num

NameError: name 'rohan' is not defined

In [38]:
ramesh_age= 30
ramesh_exp = 5
ramesh_salary = 500000

ramesh_exp #we can write output value in the same line and also in the other line. but first we should declare a variables

5

In [40]:
ramesh_age= 25
rohan_age = 25
suresh_age = 25 


ramesh_exp # here we declare ramesh_exp above

5

In [41]:
# we also write excution 38 as 
ramesh_age,ramesh_exp,ramesh_salary= 30,5,50000
ramesh_age 

# we declare ramesh_age = 25 and ramesh_age =30
python gives the ouput on the basis of last declare value

30

In [42]:
# we write excution 40 as

ramesh_age=rohan_age=suresh_age= 25

suresh_age

25

### tab uses in python

write some words of variable then press tab button we can find already declare variables and some new without writing it again. 
it saves our time

### addtion program

what we do in c
#include<stdio.h>


int main()

{
   int a;
    int b;
    int c;
    c= a+b
   
    scanf
   
    printf
   
    return
    
    
    
}

but in python
- no curly braces 
- no colons
- no data decleration
- no scanf no printf

In [ ]:
by using hyphen in markdown bullet point is placed.
space after hyphen does not matter

In [1]:
a=20
b=39
a+b

59

In [ ]:
!jt -t chesterish -T -N -kl