## print()

print() - inside print bracket always in single or double quotes and comma(,) should be use after" that value we want to print or put variable

markdown option is only available in jupyter notebook
in pycharm , visual studio code markdown is not available
short trick for markdown press $escape$ + $m$ 
and press $escape$ + $y$ for code mode

space after print and  () doesn't matter

to show in a beautiful manner we use print fuction

In [ ]:
print fucntion will show output that we written in it

In [2]:
age= 25
age

25

In [5]:
exp=7

In [4]:
exp

7

In [6]:
ramesh_age = 25
print("ramesh age is:", ramesh_age)

ramesh age is: 25

#### the write up should be in single or double quotes (the cheat answer it should be in red colour)

In [7]:
print("hello mr. python")

hello mr. python

In [8]:
print(" hello, mr. python")

 hello, mr. python

In [9]:
print("HELLO MR. PYTHON")

HELLO MR. PYTHON

In [11]:
print("ramesh age is ramesh_age")

ramesh age is ramesh_age

In [15]:
print("ramesh age is",   ramesh_age)

ramesh age is 25

In [16]:
x=four
# four is not defined
# it asseumes four also one variable

NameError: name 'four' is not defined

In [ ]:
ramesh_exp=7

In [1]:
# ramesh experience is 7 years
print("ramesh experience is",ramesh_exp,"years")  # it cant run bcz first we to run or define the ramesh_exp if we define a number will come in IN[] bracket. if braket is empty remains is not run

NameError: name 'ramesh_exp' is not defined

In [21]:
ramesh_age=25
ramesh_exp=7

In [27]:
print("ramesh age is:",ramesh_age)
print("ramesh experience is:",ramesh_exp)

ramesh age is: 25
ramesh experience is: 7

In [32]:
print("ramesh age is:", ramesh_age,"ramesh experience is:",ramesh_exp)

ramesh age is: 25 ramesh experience is: 7

In [ ]:
### $end$ in markdown makes in italic 

$hello$
$hello.world$
$hello, happy$
## $hello, happy$
$$hello$$ # place these in middle of the line

In [33]:
print("ramesh age is :",ramesh_age,"and ramesh experience is:",ramesh_exp)

ramesh age is : 25 and ramesh experience is: 7

### if we want to add two print statement in a single line
## we use end=' '
#### end add things bw print statements
#### if anything written bw print statement it doesn't matter

In [35]:
print("ramesh age is:",ramesh_age,)
print("ramesh experience is:",ramesh_exp)

ramesh age is: 25
ramesh experience is: 7

###### to add these print statement

In [37]:
print("ramesh age is :",ramesh_age,end='')
print("ramesh experience is:",ramesh_exp)

ramesh age is : 25ramesh experience is: 7

###### to avoid gap bw 25 and ramesh we      use some gap in end='    '

In [ ]:
in markdown more space don't work it take only one space

In [39]:
print("ramesh age is :",ramesh_age,end=' ')
print("ramesh experience is:",ramesh_exp)

ramesh age is : 25 ramesh experience is: 7

##### we can add anything in end=' or' ,end='.......' , end='hhhhhhhh'

In [40]:
print("ramesh age is :",ramesh_age,end='--------------- ')
print("ramesh experience is:",ramesh_exp)

ramesh age is : 25--------------- ramesh experience is: 7

In [43]:
print("ramesh age is :",ramesh_age,end=' @@%#^^^* ')
print("ramesh experience is:",ramesh_exp)

ramesh age is : 25 @@%#^^^* ramesh experience is: 7

In [45]:
print("ramesh age is :",ramesh_age,end=' & ')
print("ramesh experience is:",ramesh_exp)

ramesh age is : 25 & ramesh experience is: 7

###### we can add only two print statement end is used at the end of first print statement and next print statement is add with first print statement

In [46]:
print("hai")
print("how")
print("are you")

hai
how
are you

In [48]:
print("hai",end=' ')
print ("how")
print("are you")

hai how
are you

In [51]:
print     ("hai")

hai

In [53]:
print("hai",end=' ')  # here end add this and next print statement
print("how",end=' ')  # here end add this and next print statement
print("are you")

hai how are you

In [54]:
print("hai",end='iiiii')  # here end add iiii in hai

haiiiiii

In [55]:
print("hai",end='iiiii') ### end add things bw two print statement
print("how")

haiiiiiihow

In [58]:
print("hai",end='')  ## here variable a doesn't matter 
a = 10
print("hai",a)

haihai 10

In [59]:
print("hello",end='______')  # same here # but the question here raise why a is not shown in outout
a=10
a
print("happy")       # we have to add print(" ") to print a in output

hello______happy

In [60]:
print("hello",end='______')  
a=10
print(a)      ## here two print statement is add and value of second print statement is add with first statement 
print("happy")

hello______10
happy

In [61]:
print("hello",end='>>>>>>>>>>') 
a=10
print(a,end='>>>>>>>>>')
print("happy")

hello>>>>>>>>>>10>>>>>>>>>happy

In [66]:
print("hello",end='>>>>>>>>>>') 
a=10
print(a,end='>>>>>>>>>')
print("happy",end='<<<<<<<<<')
num=7027177726    # here num is int 
print("phone number",num,end='<<<<<<<<')
mail= "vishalkadyan567@gmail.com"  # mail is string that's why we put in comma
print("mail",mail)

hello>>>>>>>>>>10>>>>>>>>>happy<<<<<<<<<phone number 7027177726<<<<<<<<mail vishalkadyan567@gmail.com

## .format()

#### it is used to print more values in single print statement

In [67]:
# ramesh age is 25 and ramesh experience is 7 years
print("ramesh age is",ramesh_age,"and ramesh experience is",ramesh_exp,"years")

ramesh age is 25 and ramesh experience is 7 years

In [68]:
print("ramesh age is {} and ramesh experience is {} years".format(ramesh_age,ramesh_exp))

ramesh age is 25 and ramesh experience is 7 years

In [70]:
print ("ramesh age is {} for {} experience".format(ramesh_age,ramesh_exp))

ramesh age is 25 for 7 experience

In [72]:
a=10
b=20
c=a+b
print("the addition of {} and {} is {}",a,b,c) # format is used is fill the blanks

the addition of {} and {} is {} 10 20 30

In [73]:
print("the addition of {} and {} is {}".format(a,b,c))

the addition of 10 and 20 is 30

In [76]:
gary_age=roger_age=tom_age=24
print("gary age is,","roger age is","tom age is ",roger_age,gary_age) # print function will output that we wriiten in it

gary age is, roger age is tom age is  24 24

In [77]:
print("gary age is",gary_age,"roger age is",roger_age,"tom age is ",tom_age)

gary age is 24 roger age is 24 tom age is  24

In [78]:
print("gary age is {} roger age is {} tom age is {}".format(gary_age,roger_age,tom_age))

gary age is 24 roger age is 24 tom age is 24

In [85]:
print("gary age is {} roger age is {} tom age is {}".format(gary_age,))

IndexError: Replacement index 1 out of range for positional args tuple

In [ ]:
## three fill up so we have to provide three answer

In [86]:
print("gary age is {} roger age is {} tom age is {}".format(gary_age,gary_age,gary_age))

gary age is 24 roger age is 24 tom age is 24

In [ ]:
# age is same