In [ ]:
#================== PART-1===================================
# Basic python --------------------------> 
   type casting
   arthimetic operators
   logical opertors
   membership opertors
   eval
   print
   sep
   end

# Conditional statements if/elif/else
# For loop
# Random and math
  how to import
# Functions
# While loop
# Try-except


basic syntax 
Conditional ----------- > if elif else
loop  ----- > while for
functions

go


========================= PART-2==================================
1.String
2.List
3.Tuples
4.Dictionary
5.File handling

### Strings:

In [6]:
s='python'
s

'python'

In [2]:
type(s)

str

In [3]:
t="python"
t

'python'

In [4]:
type(t)

str

In [8]:
str1="""hello
      omkar"""
str1

'hello\n      omkar'

In [9]:
print(str1)

hello
      omkar

In [ ]:
i like "python"
i like 'python'

# everything should be in red color

In [11]:
str2='i like "python"'
str2

'i like "python"'

In [13]:
str3="i like 'python'"
str3

"i like 'python'"

In [15]:
print(str2)
print(str3)

i like "python"
i like 'python'

In [16]:
string1="I like python"
len(string1)

13

In [21]:
string2=' '
len(string2)

1

In [22]:
string3='python'
len(string3)

6

In [23]:
input()  # string type

3

'3'

In [24]:
eval(input())

3

3

$Indexing$

In [25]:
s='python'

In [26]:
len(s)

6

In [27]:
s[0]

# i can call a letter by using index
# in python index start with zero

'p'

In [ ]:
p    y    t    h    o    n
0    1    2    3    4    5

In [28]:
s[3]

'h'

In [29]:
s[5]

'n'

In [30]:
name='krishna'
name[6]

'a'

In [ ]:
-6  -5    -4   -3   -2   -1
p    y    t    h    o    n
0    1    2    3    4    5

In [31]:
s[-1]

'n'

In [32]:
s[5]

'n'

- negative side last char starts with -1

- pos side first char starts with 0

In [ ]:
-3 -2 -1
h   a  i
0   1  2

In [33]:
s1='hai'
s1[2]

'i'

In [34]:
s1[-1]

'i'

In [47]:
string='python'

# print each and every letter using for loop

# p    y    t    h    o    n
# 0     1    2    3    4    5

# your loop run 6 times
# intialization i=0
# end=6-1=5
for i in range(0,6):
    print(i,string[i])
    #print("{} index is {}".format(string[i],i))

0 p
1 y
2 t
3 h
4 o
5 n

In [59]:
string="hai how"
num=len(string)
for i in range(0,num):
    print("{} index is {}".format(string[i],i))

h index is 0
a index is 1
i index is 2
  index is 3
h index is 4
o index is 5
w index is 6

In [55]:
string=input("enter a string:")
num=len(string)
for i in range(0,num):
    print("{} index is {}".format(string[i],i))

enter a string:python
p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [61]:
try:
    string=input("enter a string:")
    num=len(string)
    for i in range(0,num):
        print("{} index is {}".format(string[i],i))
        
except Exception as e:
    print("Error occured:",e)

enter a string:hai
h index is 0
a index is 1
i index is 2

In [62]:
def string():  # with out arguments
    try:
        string=input("enter a string:")
        num=len(string)
        for i in range(0,num):
            print("{} index is {}".format(string[i],i))
        
    except Exception as e:
        print("Error occured:",e)

In [63]:
string()

enter a string:hai
h index is 0
a index is 1
i index is 2

In [64]:
def string(str1):  # with arguments
    try:
        num=len(str1)
        for i in range(0,num):
            print("{} index is {}".format(str1[i],i))
        
    except Exception as e:
        print("Error occured:",e)
        
string('india')

i index is 0
n index is 1
d index is 2
i index is 3
a index is 4

In [ ]:
string='python'

p pos index is 0 and neg index is -6 
y pos index is 1 and neg index is -5
t pos index is 2 and neg index is -4

In [75]:
# first print numbers using for loop
# the same range should provide pos and neg
# p    y    t     h    o    n
#-6   -5    -4   -3   -2    -1
string='python'
for i in range(0,len(string)):
    print("{} pos index is {} and neg index is {}".format(string[i],i,i-len(string)))

p pos index is 0 and neg index is -6
y pos index is 1 and neg index is -5
t pos index is 2 and neg index is -4
h pos index is 3 and neg index is -3
o pos index is 4 and neg index is -2
n pos index is 5 and neg index is -1

In [81]:
string='python'
for i in range(0,len(string)):
    print(i,i-len(string))

0 -6
1 -5
2 -4
3 -3
4 -2
5 -1

In [78]:
string='python'
for i in range(-len(string),0):
    print(i,string[i])
    #print("{} pos index is {} and neg index is {}".format(string[i],i,i-len(string)))

-6 p
-5 y
-4 t
-3 h
-2 o
-1 n

In [90]:
string='python'
num=-len(string)
for i in range(num,0):
    print("{} neg index is {} and pos index is {}".format(string[i],i,i-num))

p neg index is -6 and pos index is 0
y neg index is -5 and pos index is 1
t neg index is -4 and pos index is 2
h neg index is -3 and pos index is 3
o neg index is -2 and pos index is 4
n neg index is -1 and pos index is 5

In [ ]:
# Membership operator  in

In [91]:
s='python'

In [92]:
'p' in s ---------- > T

'y' in s ----------- > T

't' in s ------------ >T

True

In [96]:
for i in s:
    print(i,end=' ')
    
# in operator will take direct letter

p y t h o n

In [ ]:
# range ----------- > numbers --------- > index
# in ----------- > direct

In [95]:
for i in range(0,len(s)):  # numbers
    print(s[i],end=' ')

p y t h o n

In [99]:
string='Apple'
# print each letter using while loop
# for i in range(0,len(string))
i=0
while i<len(string):
    print(string[i])
    i+=1

A
p
p
l
e

In [ ]:
# enter a string from key board
# and print the vowels in a string

# my_string='hai how are you'

# step-1: take a string from keyboard --------------------> input()
# step-2: iterate over a string( take each letter) -------> for
# step-3: verify it is vowel or not ----------------------> if 
# step-4: print that vowel ------------------> print

In [101]:
'h' in 'aeiou'
'a' in 'aeiou' -------- > true
'i' in 'aeiou'---------> true

False

In [112]:
my_string=input("enter a string:")
string3=''
for i in my_string:
    if i in 'aeiou':  # second a True
        if i not in string3: # second a not in string3='ai'
            string3=string3+i
print(string3)

enter a string:aiaiaiai
ai

In [108]:
# i want to append string1  into string2
# string1 letters will go into string1
string1='hai'
string2=''

for i in string1:
    string2=string2+i
    
# 1----- > h ----> string2=''+'h'='h'
# 2------> a ----> string2='h'+'a'='ha'
# 3------> i ----> string2='ha'+'i'='hai'

In [109]:
string2

'hai'

In [ ]:
'hai how are you'

# h ------->not vowel
# a--------> vowel
# i--------> vowel
# h-------> not
# o--------< v
# w--------> not
# a--------> already a consider i will not print

# every vowel upload into a new empty string
# string3='aio'
# a im in there in string3 ------> yes
# no print

$ Slice $

In [ ]:
i       l    o    v    e      p    y    t    h    o    n
0   1   2    3    4    5  6   7    8    9    10   11   12

In [ ]:
# i love python

In [1]:
len("i love python")

13

In [3]:
for i in range(2,10):
    print(i,end=' ')
# start=2  stop=end-1=10-1=9   
# (not mentioned) step=1  direction =pos

2 3 4 5 6 7 8 9

In [4]:
string='i love python'
string[2:10]  # love pyt

'love pyt'

In [7]:
for i in range(2,13,-2):
    print(i,end=' ')
# start=2   stop=end+1=13+1=14
# step=2   direc= the step -2---->-ve

In [ ]:
-13 -12 -11  -10  -9   -8  -7  -6   -5   -4   -3   -2   -1  
 i       l    o    v    e       p    y    t    h    o    n
 0   1   2    3    4    5  6    7    8    9    10   11   12

In [15]:
string[-2:13:-2] # start=-2  stop=13-1=12
# step=2  direc=-neg

''

In [ ]:
string[2:-13:2] = ''
string[2:-13:-2] ='l'
string[-2:-13:2]=''
string[-2:-13:-2]='otpeo '
string[-2:13:2]='o'
string[-2:13:-2]=''

In [ ]:
# slicing questions on list i will not teach

In [16]:
import random

In [17]:
dir(random)  # directory

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_inst',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [22]:
random.randint(1,10)

4

In [23]:
string1='python'
# first you need to write any string
# to get methods

In [24]:
dir(string1)
# which methods we can apply in strings

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

$Upper$

In [29]:
string='i LIKE python'
string_upper=string.upper()
# upper method returns small letter to capital letter

In [31]:
print('original case:',string)
print('upper case:',string_upper)

original case: i LIKE python
upper case: I LIKE PYTHON

$lower$

In [32]:
string_lower=string_upper.lower()
print('original case:',string)
print('upper case:',string_upper)
print('lower case:',string_lower)

original case: i LIKE python
upper case: I LIKE PYTHON
lower case: i like python

$Capitalize$:

In [33]:
string_capitalize=string_lower.capitalize()
print('original case:',string)
print('upper case:',string_upper)
print('lower case:',string_lower)
print('capitalize:',string_capitalize)

original case: i LIKE python
upper case: I LIKE PYTHON
lower case: i like python
capitalize: I like python

$casefold$

In [35]:
text='hOW aRe'
# casefold will convert all the strings to lowercase
text_casefold=text.casefold()
text_lower=text.lower()
print(text_casefold)
print(text_lower)

how are
how are

$center$

In [47]:
word='python'  # 6

# i want to create a 12 letters and the word should be in center
# and surrounded by some spl chr *
# ***python***
new_word=word.center(15,'@')
new_word

'@@@@@python@@@@'

In [38]:
word.center(6,'*')

'python'

$index$-$count$-$find$

In [51]:
text1='python'

# what is the index of 'o' = 4  and -2
print(text1.index('p'))
print(text1.index('y'))
print(text1.index('t'))
print(text1.index('h'))
print(text1.index('o'))
print(text1.index('n'))

# print(text1.index(i))

0
1
2
3
4
5

In [54]:
for i in text1:
    print("{} index is {}".format(i,text1.index(i)))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [56]:
for i in range(len(text1)):
    print("{} index is {}".format(text1[i],i))

p index is 0
y index is 1
t index is 2
h index is 3
o index is 4
n index is 5

In [60]:
sent1='i like python'
print(sent1.index('python'))
# substring start index will give 
# 'python' is substring it starts at index 7
print(sent1.index('p'))
# 'p' also starts at index 7

7
7

In [64]:
sent2='ola ola ola'
sent2.index('ola')
#ola is a substring repaeting at 0,4,7
# but index method will provide 
# only first occurence of index

0

In [66]:
sent2='ala olaola '
sent2.index('ola ')

7

In [1]:
# index method
str1='happy'
str1.index('p')  # it will give first occurence index

2

$count$

In [2]:
str1.count('p') # no.of occurences of char

2

In [4]:
sent2='ala olaola '
sent2.count('ola') # no of occrences of substring

2

$Mutable/immutable$

In [5]:
string='welcome'
# weLcome   replace 'l' -----> 'L'
string.index('l')

2

In [7]:
string[2]='L'   
# strings are immutable
# in strings we cant change the values by using index

TypeError: 'str' object does not support item assignment

In [20]:
str1='welcome'
str1[3:]

'come'

In [24]:
# in 'welcome' -------> 
#'we'+'L'+'come' ----->'weLcome'
num=string.index('l') # index
s1=string[:num]    #------->slice---> 'we'
s2=string[num+1:]   #------->slice---> 'come'
new_str=s1+'L'+s2  # CT
print('old:',string)
print('new:',new_str)

# slicing
# adding
# index

old: welcome
new: weLcome

$replace$:

In [30]:
# same above soluton can get by using replace
str1='welcome'
str1.replace('l','L')

'weLcome'

In [32]:
str2='welcome life' # 'weLcome life'
str2.replace('e','E')
# replace with o/p char for all i/p char

'wElcomE lifE'

In [ ]:
# input='restart'
# o/p='resta$t'
# replace second 'r' with '$'
# slicing and replace

In [35]:
# restart ===> 're'+'sta$t'
# restart ----> 're'+'start'
string='restart'
string1=string[:2]  #'re'  (slice)
string2=string[2:]  #'start'  (slice)
string3=string2.replace('r','$') # 'sta$t' ('replace')
new_string=string1+string3  #(CT)
print('input:',string)
print('output:',new_string)

# step-1: 'restart' ------> 're' ------> s1
# step-2: 'restart' ------> 'start' ----> s2
# step-3: 'start' -------> 'sta$t' -----> s3
# step-4: s1+s3------> 'resta$t'

input: restart
output: resta$t

In [44]:
string.replace('r','$',1)
# 1 count how many occurences you need to replace
# 'r' occured two times
# count=1 , only first 'r' will replace

'$estart'

In [62]:
# step-1: 'restart'
# step-2: 'tratser'
# step-3: replace 'r' with '$' only on first occ
# 'traster' ----> 't$aster'
# step-4: 't$aster' ------> 'resta$t'

str1=string[::-1]
str2=str1.replace('r','$',1)
str3=str2[::-1]
print(str3)

resta$t

In [59]:
str1='python'
print(str1[:])   # start=0   end=last cahr=len(str1)
print(str1[::1])
print(str1[::-1])
# nothing mentioned at stop value 
# means it automatically takes last char
# nothing mentioned start index means it takes 0
# p   y   t   h   o   n

python
python
nohtyp

In [ ]:
# slice
# slice+replace
# reverse slicing+replace
# Capitalize

$find$

In [64]:
string1='happy'
# how many 'p' are there =2
string1.index('p') # first occurence

2

In [ ]:
# what are the index of 'p'
# one  'p' index is =2
# second 'p' index is =3
# how do you get the second 'p' index ?
# find method will give other occurences of char

In [75]:
string1='ola ola ola'

In [82]:
string1.find('o')  # first 'o' occures at index 0
string1.find('o',1) # im checking o in 'la ola ola'  index 4
string1.find('o',5)  #  Third o index is 8
string1.find('o',9)  # -1 means no 'o' after 9th index

-1

In [90]:
num1=string1.find('o') #==========> 0
num2=string1.find('o',num1+1) #======> 4
num3=string1.find('o',num2+1)# ===> 8
#string1.find('o',string1.find('o',string1.find('o',string1.find('o')+1)+1)+1)

In [93]:
# 'restart'  ------ > 'resta$t'
# 'resta'  'rt'
#'r' 'estart'
# find operation  replace  slice

str1='ola ola ola'
str1.find('ha')  # if no string found then it will give -1

-1

In [108]:
str1='restart'                 #'resta'  'rt'
st=str1.find('r',1)            # 5
print('second r index is:',st)
s1=str1[:st]                   # str1[:5]
print('string1:',s1)
s2=str1[st:]                   # str1[5:]
print('string2:',s2)
s3=s2.replace('r','$')
print(s1+s3)

second r index is: 5
string1: resta
string2: rt
resta$t

In [ ]:
string='restart'
string1=string[:2]  #'re'  (slice)
string2=string[2:]  #'start'  (slice)
string3=string2.replace('r','$') # 'sta$t' ('replace')
new_string=string1+string3  #(CT)
print('input:',string)
print('output:',new_string)

In [110]:
# tell me your file location
# os package/library/module
import os
os.getcwd()

'C:\\Users\\omkar\\OneDrive\\Documents\\Data science\\Ekeeda\\python_sessions'

In [112]:
# https://www.eenadu.net/

import webbrowser
webbrowser.open('https://www.eenadu.net/')

True

In [113]:
import webbrowser
import time
time.sleep(5)
webbrowser.open('https://www.eenadu.net/')

True

In [ ]:
# startswith  and endswith

In [115]:
str1="hai how are you,i'm good thank you!!!"

In [117]:
str1.startswith('hai')

True

In [120]:
str1.startswith("i'm")

False

In [121]:
str1.endswith('!')

True

In [122]:
"i'm" in str1

True

In [123]:
'good' in str1

True

$strip$-$rstrip$-$lstrip$

In [139]:
str1=' pythhon****' # spaces in left and right
str2=' python good'   # spaces in right side
str3=' python'  # spaces in left side

In [130]:
# if both side spaces you want to remove use strip
# if only left side rempve use lstrip ---> left strip
# right side remove ---> rstrio

 pythhon
 python good

In [160]:
str1=' pythhon****'
s1=str1.rstrip('*')
s2=s1.lstrip(' ')
str1,s2,s1

(' pythhon****', 'pythhon', ' pythhon')

$split$

In [161]:
s1='hai how are you'
# how many words are there 4 seperated by ' '
s1.split(' ')  # list of words

['hai', 'how', 'are', 'you']

In [164]:
s2='hai how,are you'
print(s2.split(','))
print(s2.split(' '))

['hai how', 'are you']
['hai', 'how,are', 'you']